.is-grabbing,
.is-grabbing * {
  cursor move
  cursor -moz-grabbing
  cursor -webkit-grabbing
  cursor grabbing
}

html,
body {
  color $color-text
  font-family $font-main
  font-weight 400
  font-size $font-size-main
  line-height (16 / 12)
}

body {
  overflow hidden
  display flex
  overflow-y scroll
  background #fff
  -webkit-text-size-adjust none

  &:before {
    content ''
    min-height 100vh
    flex 0 0 auto
    display block
  }
}

.body {
  position relative
  &_fade {
    position fixed
    overflow hidden
    transition .3s
    &:after {
      content ''
      position absolute
      top 0
      left 0
      right 0
      bottom 0
      width 100%
      min-height 100vh
      background $color-main
      opacity .5
      z-index 98
    }
  }
}

.body__wrapper {
  flex 1 1 auto
  overflow hidden
  display flex
  flex-direction column
}

.body__content {
  flex 1 0 auto
  position relative
  .header_float + & {
    padding-top (215px + 45)
    +do(870) {
      padding-top (263px + 45)
    }
    +do(800) {
      padding-top (214px + 5)
    }
    +do(425) {
      padding-top (256px + 5)
    }
  }
}

input,
select,
textarea,
button,
label {
  color inherit
  font-family inherit
  font-weight inherit
  font-style inherit
  font-size inherit
  line-height inherit
}

input,
textarea {
  +placeholder() {
    color inherit
    font-size inherit
    line-height inherit
  }
}

h1
,
$h1
,
h2
,
$h2
,
h3
,
$h3
,
h4
,
$h4
,
h5
,
$h5
,
h6
,
$h6 {
  color inherit
  font-family $font-helv
  font-weight 300
  line-height 1.2
  text-align inherit
}

$h1
,
h1 {
  margin-bottom (50 / 44) em
  font-size 44px
  +do(800) {
    font-size 38px
  }
  +do(600) {
    font-size 30px
  }
}

$h2
,
h2 {
  margin-bottom (27 / 30) em
  font-size 30px
  +do(800) {
  }
  +do(600) {
    font-size 26px
  }
}

$h3
,
h3 {
  margin-bottom (26 / 24) em
  font-size 24px
}

$link
,
a {
  -webkit-tap-highlight-color rgba(#000, 0)
  transition none .3s ease-out
  transition-property color, background-image, background-color, border-color
  text-decoration none
  color $color-pink
  border-bottom 1px solid $color-lpink

  &:hover {
    border-color transparent
  }
}

[role='link'] {
  -webkit-tap-highlight-color rgba(#000, 0)
  cursor pointer
  border 0
  color inherit
  text-decoration none
  u {
    transition none .3s ease-out
    transition-property color, background-image, background-color, border-color
    border-bottom 1px solid $color-lpink
    color $color-pink
    text-decoration none
  }
  &:hover {
    u {
      border-color transparent
    }
  }
}

[role='button'] {
  -webkit-tap-highlight-color rgba(#000, 0)
  cursor pointer
  border 0
  color inherit
  text-decoration none
  u {
    transition none .3s ease-out
    transition-property color, background-image, background-color, border-color
    text-decoration none
  }
  &:hover {
    color inherit
  //u {
  //   border-color $color-red
  //   color $color-red
  //}
  }
}

u[title] {
  margin-right -.25em
  margin-left -.25em
  padding-right .25em
  padding-left .25em
  border-bottom 1px dashed rgba($color-main, .25)
  text-decoration none
}

small {
  font-size .8em
}

big {
  font-size 1.2em
}

abbr {
  margin-right -.15em
  font-size .85em
  letter-spacing .15em
  text-decoration none
  text-transform uppercase
  &[title] {
    border-bottom 1px dotted
    cursor help
  }
}

$p
,
p,
table,
ul,
ol,
blockquote {
  margin-bottom (24 /$font-size-main) em
}

p {
  +suff('ul' 'ol', '+') {
    margin-top (-8 /$font-size-main) em
  }
  img,
  iframe {
    max-width 100%
  }
}
.table,
table {
  overflow auto
  max-width 100%
  margin-top (24 /$font-size-main) em
  margin-bottom (24 /$font-size-main) em
}

.table table {
  margin 0
}

.table.mod-full {
  width 100%
}

tr {
}

td,
th {
  vertical-align top
  width auto
  +suff('td' 'th', '+') {
  // padding-left (40/$font-size-main)em
  }
}

th {
  padding (10 / 12) em (14 / 12) em (11 / 12) em
  color #808080
  font-weight 400
  font-size (12 /$font-size-main) em
}

thead {
  th,
  td {
    border-top-width 0
    border-bottom-width 2px
  }
}

tfoot {
  th,
  td {
    border-top-width 2px
    border-bottom-width 0
  }
  th {
    padding (10 / 14) em (14 / 14) em (11 / 14) em
    color $color-main
    font-weight 600
    font-size (14 /$font-size-main) em
  }
  tr:nth-child(odd) {
    td {
      background none
    }
  }
}

sup {
  font-size .55em
  vertical-align super
}
