include-font(font-name, file-name, font-weight = normal, font-style = normal, local = false) {
  @font-face {
    font-family font-name
    src local('' + (local ? local:file-name)), url('../fonts/' + file-name + '.woff') format('woff')
    font-weight font-weight
    font-style font-style
  }
}

include-font('_myriad', 'myriadpro-regular', 400)
include-font('_myriad', 'myriadpro-bold', 700)
