global-reset()
reset-html5()

q, blockquote {
   quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
   content: "";
   content: none;
}

img {
   vertical-align middle
}

b,
strong {
   font-weight bold
}
i,
em {
   font-style italic
}

:focus, :active {
   outline: none;
}

[href^='tel:'] {
   color inherit
   text-decoration none
}
