{% extends 'modules/_main.twig' %}

{% block content %}
    <div class="content block">
        <div class="content__wrapper block__wrapper">
            <div class="content__main">
                <div class="content__section content__section_catalog">
                    <div class="main">
                        <div class="breadcrumbs">
                            <ul>
                                <li><a href="#" class="is-active"> <i></i> Каталог оборудования</a></li>
                                <li><a href="#">Российская линия Zorkiy</a></li>
                                <li><a href="#">Российская линия Optima</a></li>
                                <li><a href="#">Итальянская линия</a></li>
                                <li><a href="#">Доп.оборудование</a></li>
                                <li><a href="#">Фотогалерея</a></li>
                                <li><a href="#">Видеогалерея</a></li>
                            </ul>
                        </div>
                        <div class="award">
                            <div class="award__title"><h1 class="title title_large"> Награды и достижения</h1></div>
                            <div class="award__list">
                                <div class="award__list-top">
                                    <a data-fancybox="award" href="/images/award/1.jpg" class="award__list-item award__list-item_main">
                                        <img src="images/award/1.jpg" alt="">
                                    </a>
                                </div>
                                <div class="award__list-main">
                                    <a href="/images/award/2.jpg" class="award__list-item">
                                        <img src="images/award/2.jpg" alt="">
                                    </a>
                                    <a data-fancybox="award"  href="/images/award/3.jpg" class="award__list-item">
                                        <img src="images/award/3.jpg" alt="">
                                    </a>
                                    <a  data-fancybox="award" href="/images/award/4.jpg" class="award__list-item">
                                        <img src="images/award/4.jpg" alt="">
                                    </a>
                                    <a data-fancybox="award"  href="/images/award/5.jpg" class="award__list-item">
                                        <img src="images/award/5.jpg" alt="">
                                    </a>
                                    <a data-fancybox="award"  href="/images/award/6.jpg" class="award__list-item">
                                        <img src="images/award/6.jpg" alt="">
                                    </a>
                                    <a data-fancybox="award"  href="/images/award/7.jpg" class="award__list-item">
                                        <img src="images/award/7.jpg" alt="">
                                    </a>
                                    <a data-fancybox="award"  href="/images/award/8.jpg" class="award__list-item">
                                        <img src="images/award/8.jpg" alt="">
                                    </a>
                                    <a data-fancybox="award"  href="/images/award/9.jpg" class="award__list-item">
                                        <img src="images/award/9.jpg" alt="">
                                    </a>
                                    <a data-fancybox="award"  href="/images/award/10.jpg" class="award__list-item">
                                        <img src="images/award/10.jpg" alt="">
                                    </a>
                                    <a data-fancybox="award"  href="/images/award/11.jpg" class="award__list-item">
                                        <img src="images/award/11.jpg" alt="">
                                    </a>
                                    <a data-fancybox="award"  href="/images/award/12.jpg" class="award__list-item">
                                        <img src="images/award/12.jpg" alt="">
                                    </a>
                                    <a data-fancybox="award"  href="/images/award/13.jpg" class="award__list-item">
                                        <img src="images/award/13.jpg" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
