{% extends 'modules/_main.twig' %}

{% block content %}
    <div class="content block">
        <div class="content__wrapper block__wrapper">
            <div class="content__main">
                <div class="content__section content__section_catalog">
                    <div class="main">
                        <div class="breadcrumbs">
                            <ul>
                                <li><a href="#" class="is-active"> <i></i> Каталог оборудования</a></li>
                                <li><a href="#"><i></i>Российская линия Zorkiy</a></li>
                                <li><a href="#"><i></i>Российская линия Optima</a></li>
                                <li><a href="#"><i></i>Итальянская линия</a></li>
                                <li><a href="#"><i></i>Доп.оборудование</a></li>
                                <li><a href="#"><i></i>Фотогалерея</a></li>
                                <li><a href="#"><i></i>Видеогалерея</a></li>
                            </ul>
                        </div>
                        <div class="catalog">
                            <div class="catalog__category">
                                <div class="category category_intro">
                                    <div class="category__title">
                                        <div class="title title_regular title_color">Выберите интересующую Вас линию
                                            оборудования:
                                        </div>
                                    </div>

                                    <div class="category__wrapper category__wrapper_intro">
                                        <div class="category-card category-card_intro category__item">
                                            <div class="category-card__wrapper">
                                                <a href="#" target="_blank" title="">
                                                    <div class="category-card__image">
                                                        <img src="images/temp/optima-new.jpg" alt=" "
                                                             title=" ">
                                                    </div>
                                                    <div class="category-card__desc">
                                                        <span> Итальянская линия фотосепараторов <i> </i></span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="category-card category-card_intro category__item">
                                            <div class="category-card__wrapper">
                                                <a href="#" target="_blank" title="">
                                                    <div class="category-card__image">
                                                        <img src="images/temp/optima-new.jpg" alt=" "
                                                             title=" ">
                                                    </div>
                                                    <div class="category-card__desc">
                                                        <span> Российская линия Optima <i> </i></span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="category-card category-card_intro category__item">
                                            <div class="category-card__wrapper">
                                                <a href="#" target="_blank" title="">
                                                    <div class="category-card__image">
                                                        <img src="images/temp/optima-new.jpg" alt=" "
                                                             title=" ">
                                                    </div>
                                                    <div class="category-card__desc">
                                                        <span> Российская линия Zorkiy <i> </i></span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="category-card category-card_intro category__item">
                                            <div class="category-card__wrapper">
                                                <a href="#" target="_blank" title="">
                                                    <div class="category-card__image">
                                                        <img src="images/temp/optima-new.jpg" alt=" "
                                                             title=" ">
                                                    </div>
                                                    <div class="category-card__desc">
                                                        <span> Российская линия Zorkiy <i> </i></span>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="catalog__desc">
                                <div class="category__title">
                                    <h1 class="title title_regular title_color"> Заголовок 1
                                    </h1>
                                </div>
                                <div class="text-content">
                                    <p> Зерноочистка — важный и сложный процесс переработки зерновых, именно поэтому к
                                        вопросу выбора зерноочистительной техники нужно подходить серьезно.
                                    </p>
                                    <p>
                                        Мы провели огромную работу по поиску оптимальных вариантов фотосепарационного
                                        оборудования для зерноочистки и теперь можем предложить вам лучшие из мировых
                                        практик линии сортировки продуктов. Перед выводом аппарата на рынок его
                                        возможности
                                        всегда тщательно анализируются: наши специалисты проводят личные встречи с
                                        представителями компании, изучают производство, налаживают тесные связи с
                                        разработчиками. На всех образцах зерноочистительного оборудования, предлагаемых
                                        нашим клиентам (будь то фотосепаратор из Китая или Италии), проводятся
                                        многочисленные испытания и сортируются наиболее популярные российские продукты.
                                        Партнерство с производителями подтверждено сертификатами заводов-изготовителей,
                                        предоставляющих права эксклюзивного дилера, официального дистрибьютора и
                                        авторизованного сервисного центра.
                                    </p>
                                    <p> Уже сегодня на вас может работать зерноочистительная техника ведущих
                                        производителей
                                        Италии, Китая и России, существенно повышающая эффективность производства. В
                                        большинстве случаев фотосепараторы дают новый толчок для роста и развития любой
                                        технологической цепочки или линии сортировки и модернизации производства в
                                        целом. Мы
                                        предлагаем аппараты разных производителей с возможностью подобрать вариант,
                                        оптимальный по производительности и цене. Достаточно обратиться к специалистам
                                        компании, которые всегда готовы квалифицированно ответить на возникшие вопросы и
                                        помочь подобрать модель для решения конкретных задач вашего производства.
                                    </p>
                                </div>
                            </div>
                            <div class="bonus catalog__bonus">
                                <div class="bonus__item">
                                    <div class="bonus__item-img">
                                        <img src="images/main/dealer-icon-grey.png" alt="  ">
                                    </div>
                                    <div class="bonus__item-info">
                                        <div class="bonus__item-title">
                                            ДИЛЕРЫ
                                        </div>
                                        <div class="bonus__item-desc">
                                            Продажа фотосепараторов "СиСорт" в различных странах мира возможна с
                                            участием дилеров компании. Обратитесь к нам, чтобы узнать, как связаться с
                                            дилером в Вашей стране.
                                        </div>
                                    </div>
                                </div>
                                <div class="bonus__item">
                                    <div class="bonus__item-img">
                                        <img src="images/main/leasing-icon-grey.png" alt="  ">
                                    </div>
                                    <div class="bonus__item-info">
                                        <div class="bonus__item-title">
                                            ЛИЗИНГ
                                        </div>
                                        <div class="bonus__item-desc">
                                            Для Вашего удобства мы сотрудничаем с финансовыми организациями,
                                            предоставляющими лизинг для наших клиентов на выгодных условиях.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
