{% extends 'modules/_main.twig' %}

{% block content %}
    <div class="content block">
        <div class="content__wrapper block__wrapper">
            <div class="content__main">
                <div class="content__section content__section_catalog">
                    <div class="main">
                        <div class="breadcrumbs">
                            <ul>
                                <li><a href="#" class="is-active"> <i></i> Каталог оборудования</a></li>
                                <li><a href="#">Российская линия Zorkiy</a></li>
                                <li><a href="#">Российская линия Optima</a></li>
                                <li><a href="#">Итальянская линия</a></li>
                                <li><a href="#">Доп.оборудование</a></li>
                                <li><a href="#">Фотогалерея</a></li>
                                <li><a href="#">Видеогалерея</a></li>
                            </ul>
                        </div>
                        <div class="info-page">
                            <div class="info-page__title"><h1 class="title title_large title_regular"> Заголовок 1</h1></div>
                            <div class="info-page__wrapper">
                                <div class="info-page__main">
                                    <div class="text-content">
                                        Мы рады приветствовать Вас на страницах сайта компании СиСорт (CSort TM) и
                                        признательны за желание получить информацию о нашей компании и оборудовании,
                                        которое
                                        мы поставляем.

                                        Фотосепараторы и самые прогрессивные сортировочные технологии завоевывают все
                                        большее внимание покупателей. И это неудивительно, ведь данный вид оборудования
                                        существенно повышает качественные характеристики продукта, придает конечной
                                        продукции высочайшие потребительские свойства, позволяет осуществлять рециклинг
                                        материалов и оптимизирует технологический процесс в целом.

                                        Наша компания очень ответственно подходит к своему делу – для нас крайне важно
                                        качество поставляемого оборудования. На сегодня мы предлагаем технику
                                        собственного
                                        производства под торговыми марками Оптима и Зоркий, а так же фотосепараторы
                                        европейского производства. Наши клиенты всегда могут быть уверены в качестве
                                        поставляемых фотосепараторов.

                                        В ходе реализации десятков проектов наши специалисты накопили солидный опыт в
                                        эксплуатации фотосепараторов и сортировке самых разнообразных продуктов, а это
                                        не
                                        только оперативность поставки, но и гарантия эффективной и стабильной работы
                                        аппаратов.

                                        Для нас не существует географических ограничений – мы успешно сотрудничаем со
                                        многими российскими и зарубежными предприятиями. Наши специалисты будут рады
                                        видеть
                                        вас в демонстрационном центре компании, где всегда представлены действующие
                                        образцы
                                        аппаратов. А для удобства наших клиентов мы открыли два дополнительных офиса – в
                                        Самаре и Краснодаре. Всем покупателям, приезжающим издалека, мы готовы показать,
                                        что
                                        такое настоящее алтайское гостеприимство: расходы на проживание и проезд во
                                        время
                                        визита мы берем на себя.

                                        Надеюсь, диалог с нашей компанией принесет вам пользу и ощутимый результат.
                                        Будем
                                        рады сотрудничеству.

                                        C уважением,
                                        Максим Савинков,
                                        Директор ООО "СиСорт"

                                    </div>

                                    <div class="info-page__bonus">
                                        <div class="bonus catalog__bonus">
                                            <div class="bonus__item bonus__item_company">
                                                <div class="bonus__item-img">
                                                    <img src="images/main/dealer-icon-grey.png" alt="  ">
                                                </div>
                                                <div class="bonus__item-info">
                                                    <div class="bonus__item-title">
                                                        ДИЛЕРЫ
                                                    </div>
                                                    <div class="bonus__item-desc">
                                                        Продажа фотосепараторов "СиСорт" в различных странах мира возможна с
                                                        участием дилеров компании. Обратитесь к нам, чтобы узнать, как
                                                        связаться с
                                                        дилером в Вашей стране.
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="bonus__item bonus__item_company">
                                                <div class="bonus__item-img">
                                                    <img src="images/main/leasing-icon-grey.png" alt="  ">
                                                </div>
                                                <div class="bonus__item-info">
                                                    <div class="bonus__item-title">
                                                        ЛИЗИНГ
                                                    </div>
                                                    <div class="bonus__item-desc">
                                                        Для Вашего удобства мы сотрудничаем с финансовыми организациями,
                                                        предоставляющими лизинг для наших клиентов на выгодных условиях.
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="info-page__aside">
                                    <div class="video-reviews">
                                        <div class="video-reviews__title"><span>Видео отзывы</span></div>
                                        <div js-video-reviews class="owl-carousel owl-theme video-reviews__slider">
                                            <a href="#" class="item video-reviews__slider-item">
                                                <div class="video-reviews__slider-image"
                                                     style="background-image: url('images/main/sort2.jpg')"></div>
                                                <div class="video-reviews__slider-desc"> Отзыв о фотосепараторе
                                                    «Оптима» от Александра Чёрного, начальника цеха «Рубин», Ставрополье
                                                </div>
                                            </a>
                                            <a href="#" class="item video-reviews__slider-item">
                                                <div class="video-reviews__slider-image"
                                                     style="background-image: url('images/main/sort1.jpg')"></div>
                                                <div class="video-reviews__slider-desc"> Отзыв о фотосепараторе
                                                    «Оптима» от Александра Чёрного, начальника цеха «Рубин», Ставрополье
                                                </div>
                                            </a>
                                            <a href="#" class="item video-reviews__slider-item">
                                                <div class="video-reviews__slider-image"
                                                     style="background-image: url('images/main/sort3.jpg')"></div>
                                                <div class="video-reviews__slider-desc"> Отзыв о фотосепараторе
                                                    «Оптима» от Александра Чёрного, начальника цеха «Рубин», Ставрополье
                                                </div>
                                            </a>
                                        </div>
                                        <div class="video-reviews__button">
                                            <a href="#" class="button button_next">
                                                <div class="button__wrapper"><span> Посмотреть все отзывы</span></div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
