{% extends 'modules/_main.twig' %}

{% block content %}
    {% include 'modules/modal-contact.twig' %}
    <div class="content block">
        <div class="content__wrapper block__wrapper">
            <div class="content__main">
                <div class="content__section content__section_catalog">
                    <div class="main">
                        <div class="breadcrumbs">
                            <ul>
                                <li><a href="#" class="is-active"> <i></i> Контакты</a></li>
                                <li><a href="#" data-fancybox data-src="#trial" class="is-callback">Запись на пробную
                                        сортировку</a></li>
                                <li><a href="#" data-fancybox data-src="#callback" class="is-callback">Заказ обратного
                                        звонка</a></li>
                                <li><a href="#" data-fancybox data-src="#consultation" class="is-callback">Заявка на
                                        консультацию</a></li>
                            </ul>
                        </div>
                        <div class="contact">
                            <div class="contact__title">
                                <h1 class="title title_regular title_color">Единый номер сервисной службы </h1>
                                <span>
                                   <a href="tel:+7-800-23-494-23"> 8-800-23-494-23 </a> (звонки только для абонентов из РФ, бесплатно)
                                </span>
                            </div>
                            <div class="contact__list">
                                    {% include 'modules/contact-list-item.twig' %}
                                    {% include 'modules/contact-list-item.twig' %}
                                    {% include 'modules/contact-list-item.twig' %}
                                    {% include 'modules/contact-list-item.twig' %}
                                    {% include 'modules/contact-list-item.twig' %}
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
