{% extends 'modules/_main.twig' %}

{% block content %}
    <div class="content block">
        <div class="content__wrapper block__wrapper">
            <div class="slider">
                <div js-slider-main class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="slider__item">
                            <a class="slider__item-link" href="#" title="ds">
                                <img src="images/temp/slide1.jpg" alt="dfssdf"
                                     class="slider__item-image slider__item-image_desktop">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="slider__item">
                            <a class="slider__item-link" href="#" title="ds">
                                <img src="images/temp/slide1.jpg" alt="dfssdf"
                                     class="slider__item-image slider__item-image_desktop">
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="slider__item">
                            <a class="slider__item-link" href="#" title="ds">
                                <img src="images/temp/slide1.jpg" alt="dfssdf"
                                     class="slider__item-image slider__item-image_desktop">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content__main">
                <div class="content__section content__section_intro">
                    <div class="category category_intro">
                        <div class="category__title">
                            <h2 class="title title_color title_regular">Фотосепараторы</h2>
                            <span js-category-card-video-title>Видео Сортировки</span>
                        </div>

                        <div class="category__wrapper category__wrapper_intro">
                            <div class="category-card category-card_intro category__item">
                                <div class="category-card__wrapper">
                                    <a href="#" target="_blank" title="">
                                        <div class="category-card__image">
                                            <img src="images/temp/optima-new.jpg" alt="fdsfdsf" title="asdasd">
                                        </div>
                                        <div class="category-card__desc">
                                            <span> Итальянская линия фотосепараторов <i> </i></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="category-card category-card_intro category__item">
                                <div class="category-card__wrapper">
                                    <a href="#" target="_blank" title="">
                                        <div class="category-card__image">
                                            <img src="images/temp/optima-new.jpg" alt="fdsfdsf" title="asdasd">
                                        </div>
                                        <div class="category-card__desc">
                                            <span> Российская линия Optima <i> </i></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="category-card category-card_intro category__item">
                                <div class="category-card__wrapper">
                                    <a href="#" target="_blank" title="">
                                        <div class="category-card__image">
                                            <img src="images/temp/optima-new.jpg" alt="fdsfdsf" title="asdasd">
                                        </div>
                                        <div class="category-card__desc">
                                            <span> Российская линия Zorkiy <i> </i></span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div js-category-card-video
                                 class="category-card category-card_intro category-card_video category__item">
                                <div class="category-card__wrapper">
                                    <a href="#" target="_blank" title="">
                                        <div class="category-card__image category-card__image-video">
                                            <img src="images/temp/video-preview.jpg" alt="">
                                            <div class="category-card__play">

                                            </div>
                                        </div>
                                        <div class="category-card__title">
                                            Видео сортировки
                                        </div>
                                        <div class="category-card__desc">
                                            <span> Видео ролики сортировки продуктов на фотосепараторах</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content__section content__section_main">
                    <div class="aside  aside_news aside_left">
                        <div class="news">
                            <div class="news__wrapper">
                                <div class="news__title">
                                    <span class="title title_regular title_color">Новости</span>
                                </div>
                                <div class="news__list">
                                    <div class="news-item news__list-item">
                                        <div class="news-item__title"></div>
                                        <div class="news-item__desc">
                                            <a href="#" alt=""> Крупнейший казахстанский экспортер зерна приобрел
                                                фотосепаратор компании
                                                “СиСорт”<i></i></a>
                                        </div>
                                    </div>
                                    <div class="news-item news__list-item">
                                        <div class="news-item__title"></div>
                                        <div class="news-item__desc">
                                            <a href="#" alt=""> Крупнейший казахстанский экспортер зерна приобрел
                                                фотосепаратор компании
                                                “СиСорт”<i></i></a>
                                        </div>
                                    </div>
                                    <div class="news-item news__list-item">
                                        <div class="news-item__title"></div>
                                        <div class="news-item__desc">
                                            <a href="#" alt=""> Крупнейший казахстанский экспортер зерна приобрел
                                                фотосепаратор компании
                                                “СиСорт”<i></i></a>
                                        </div>
                                    </div>
                                    <div class="news-item news__list-item">
                                        <div class="news-item__title"></div>
                                        <div class="news-item__desc">
                                            <a href="#" alt=""> Крупнейший казахстанский экспортер зерна приобрел
                                                фотосепаратор компании
                                                “СиСорт”<i></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="news__link">
                                <a href="#"> Все новости</a>
                            </div>
                        </div>
                    </div>
                    <div class="main">
                        <div class="intro">
                            <div class="intro__title">
                                <h2 class="title title_regular title_color">
                                    О Компании
                                </h2>
                            </div>
                            <div class="intro__content">
                                Компания СиСорт лидер на рынке фотосортировочного оборудования.

                                Основным направлением деятельности компании является производство, поставка и
                                обслуживание высокоточного фотосортировочного оборудования на предприятия России и СНГ.

                                Широкий ассортиментный ряд фотосепараторов собственного производства, полный комплекс
                                предпродажных, пусконаладочных, гарантийных и постгарантийных услуг, опытный коллектив –
                                позволяет осуществлять проекты по внедрению фотоэлектронных сортировщиков любого уровня
                                сложности, сохраняя при этом гибкую ценовую политику.

                                Многолетний опыт работы на рынке цветосортировочного оборудования позволяет компании
                                предоставлять своим клиентам полный комплекс обслуживания: подбор подходящей модели
                                сепаратора зерна, доставку, подготовку специалистов, технические консультации,
                                гарантийное и постгарантийное обслуживание оборудования. К услугам наших клиентов –
                                склад с наличием аппаратов и запасных частей.

                                На сегодняшний день количество продуктов сортировки составляет более 100 наименований!!!
                                И этот список постоянно пополняется.

                                Запишитесь на пробную сортировку продукта! Специалисты компании сделают анализ продукта
                                до- и после сортировки, предоставят результаты и образцы, сообщат производительность
                                аппарата на данном продукте с указанной засоренностью.

                                Фотосепараторы – уникальное инновационное оборудование, предназначенное для
                                электронно-оптической сортировки сыпучих продуктов по цвету, позволяющие добиваться до
                                99,9 % чистоты продукта на выходе при исходной засоренности до двух процентов.
                                Используются для сортировки зерна, семян, круп, бобовых, масличных культур и т. д.

                                Применение фотосепараторов на производстве существенно повышает качество сортируемого
                                продукта, придает конечной продукции высокие потребительские свойства, увеличивает
                                конкурентоспособность предприятия и оптимизирует технологический процесс в целом. При
                                этом срок окупаемости фотосепаратора составляет от девяти до двенадцати месяцев.

                                Фотоэлектронная сортировка позволяет получать красивый однородный продукт бережно, не
                                подвергая его никакой механической обработке, мойке, калибровке, способной повредить
                                продукцию и увеличить производственный цикл. Подробнее >>

                                Специальное предложение от компании СиСорт – услуга сортировки. Вы всегда можете
                                отсортировать любой объем продукции на оборудовании компании. В вашем распоряжении
                                современные сортировочные аппараты и грамотные специалисты.

                                Цветовой сепаратор зерна, фотосепаратор, цветосортировщик, оптический (или
                                оптоэлектронный) сортировщик, или даже просто сортер – все это обозначения одного и того
                                же аппарата для сортировки, название которого на английском языке звучит как «color
                                sorter» или «optic sorter».

                                Статьи и обзоры

                                Подробнее
                            </div>
                        </div>
                    </div>
                    <div class="aside aside_label aside_right">
                        <div class="label">
                            <div class="label__wrapper">
                                <div class="label__title">
                                    <span class="title title_color title_regular">Технология</span>
                                </div>
                                <div class="label__desc">
                                <span>Фотосепарация (с англ. colour sorting – цветосортировка, сортировка по цвету) – 
                                    технология сортировки любых сыпучих материалов, основанная на анализе продукта по цвету.
                                    Последние годы эта технология завоевывает все большее признание российских производителей.</span>
                                    <ul type="none">
                                        <li><a href="#">Принцип работы фотосепаратора</a></li>
                                        <li><a href="#">Производительность</a></li>
                                        <li><a href="#">Сенсоры и CCD камеры </a></li>
                                        <li><a href="#">Установка и эксплуатация</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="label__link">
                                <a href="#" alt="">Подробнее</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
