{% extends 'modules/_main.twig' %}

{% block content %}
    <div class="content block">
        <div class="content__wrapper block__wrapper">
            <div class="content__main">
                <div class="content__section content__section_catalog">
                    <div class="main">
                        <div class="breadcrumbs">
                            <ul>
                                <li><a href="#" class="is-active"> <i></i> Каталог оборудования</a></li>
                                <li><a href="#">Российская линия Zorkiy</a></li>
                                <li><a href="#">Российская линия Optima</a></li>
                                <li><a href="#">Итальянская линия</a></li>
                                <li><a href="#">Доп.оборудование</a></li>
                                <li><a href="#">Фотогалерея</a></li>
                                <li><a href="#">Видеогалерея</a></li>
                            </ul>
                        </div>
                        <div class="news"></div>
                        <div class="news__list">
                            <div class="article news__list-item">
                                <div class="article__images">
                                    <img src="images/main/news-icon.gif" alt="">
                                </div>
                                <div class="article__info">
                                    <div class="article__info-top">
                                        <div class="article__info-top-image">
                                            <img src="images/main/news-icon.gif" alt="">
                                        </div>
                                        <div class="article__info-top-desc">
                                            <div class="article__info-date"><span>22.03.2017</span></div>
                                            <div class="article__info-title">
                                                <h2><a href=""> Компания “СиСорт” начала поставки фотосепараторов во
                                                        Францию
                                                        <i> </i> </a></h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="article__info-bottom">
                                        <div class="article__info-desc">
                                            Алтайский производитель фотосепараторов “СиСорт” начал сотрудничество с
                                            французскими компаниями. Так, аппарат SmartSort на минувшей неделе
                                            установили покупателю из этой страны.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="article news__list-item">
                                <div class="article__images">
                                    <img src="images/main/news-icon.gif" alt="">
                                </div>
                                <div class="article__info">
                                    <div class="article__info-top">
                                        <div class="article__info-top-image">
                                            <img src="images/main/news-icon.gif" alt="">
                                        </div>
                                        <div class="article__info-top-desc">
                                            <div class="article__info-date"><span>22.03.2017</span></div>
                                            <div class="article__info-title">
                                                <h2><a href=""> Компания “СиСорт” начала поставки фотосепараторов во
                                                        Францию
                                                        <i> </i> </a></h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="article__info-bottom">
                                        <div class="article__info-desc">
                                            Алтайский производитель фотосепараторов “СиСорт” начал сотрудничество с
                                            французскими компаниями. Так, аппарат SmartSort на минувшей неделе
                                            установили покупателю из этой страны.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="article news__list-item">
                                <div class="article__images">
                                    <img src="images/main/news-icon.gif" alt="">
                                </div>
                                <div class="article__info">
                                    <div class="article__info-top">
                                        <div class="article__info-top-image">
                                            <img src="images/main/news-icon.gif" alt="">
                                        </div>
                                        <div class="article__info-top-desc">
                                            <div class="article__info-date"><span>22.03.2017</span></div>
                                            <div class="article__info-title">
                                                <h2><a href=""> Компания “СиСорт” начала поставки фотосепараторов во
                                                        Францию
                                                        <i> </i> </a></h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="article__info-bottom">
                                        <div class="article__info-desc">
                                            Алтайский производитель фотосепараторов “СиСорт” начал сотрудничество с
                                            французскими компаниями. Так, аппарат SmartSort на минувшей неделе
                                            установили покупателю из этой страны.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="article news__list-item">
                                <div class="article__images">
                                    <img src="images/main/news-icon.gif" alt="">
                                </div>
                                <div class="article__info">
                                    <div class="article__info-top">
                                        <div class="article__info-top-image">
                                            <img src="images/main/news-icon.gif" alt="">
                                        </div>
                                        <div class="article__info-top-desc">
                                            <div class="article__info-date"><span>22.03.2017</span></div>
                                            <div class="article__info-title">
                                                <h2><a href=""> Компания “СиСорт” начала поставки фотосепараторов во
                                                        Францию
                                                        <i> </i> </a></h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="article__info-bottom">
                                        <div class="article__info-desc">
                                            Алтайский производитель фотосепараторов “СиСорт” начал сотрудничество с
                                            французскими компаниями. Так, аппарат SmartSort на минувшей неделе
                                            установили покупателю из этой страны.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="article news__list-item">
                                <div class="article__images">
                                    <img src="images/main/news-icon.gif" alt="">
                                </div>
                                <div class="article__info">
                                    <div class="article__info-top">
                                        <div class="article__info-top-image">
                                            <img src="images/main/news-icon.gif" alt="">
                                        </div>
                                        <div class="article__info-top-desc">
                                            <div class="article__info-date"><span>22.03.2017</span></div>
                                            <div class="article__info-title">
                                                <h2><a href=""> Компания “СиСорт” начала поставки фотосепараторов во
                                                        Францию
                                                        <i> </i> </a></h2>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="article__info-bottom">
                                        <div class="article__info-desc">
                                            Алтайский производитель фотосепараторов “СиСорт” начал сотрудничество с
                                            французскими компаниями. Так, аппарат SmartSort на минувшей неделе
                                            установили покупателю из этой страны.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="news__pagination">
                            <div class="pagination">
                                <div class="pagination__item"><span>1</span></div>
                                <div class="pagination__item"><a href="">2</a></div>
                                <div class="pagination__item"><a href="">3</a></div>
                                <div class="pagination__item"><a href="">4</a></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
