{% extends 'modules/_main.twig' %}

{% block content %}
    <div class="content block">
        <div class="content__wrapper block__wrapper">
            <div class="content__main">
                <div class="content__section content__section_catalog">
                    <div class="main">
                        <div class="breadcrumbs">
                            <ul>
                                <li><a href="#" class="is-active"> <i></i> Каталог оборудования</a></li>
                                <li><a href="#">Российская линия Zorkiy</a></li>
                                <li><a href="#">Российская линия Optima</a></li>
                                <li><a href="#">Итальянская линия</a></li>
                                <li><a href="#">Доп.оборудование</a></li>
                                <li><a href="#">Фотогалерея</a></li>
                                <li><a href="#">Видеогалерея</a></li>
                            </ul>
                        </div>
                        <div class="photo">
                            <div class="photo__title">
                                <h1 class="title title_large"> Фотоматериалы</h1>
                            </div>
                            <div class="photo__list">
                                <a href="/images/temp/photo-1.jpg" data-fancybox="photo"
                                   class="photo-item photo__list-item">
                                    <div class="photo-item__content">
                                        <img src="images/temp/photo-1.jpg" alt="">
                                    </div>
                                    <div class="photo-item__desc">
                                        <span> Фотоматериал 1 </span>
                                    </div>
                                </a>
                                <a href="/images/temp/photo-1.jpg" data-fancybox="photo"
                                   class="photo-item photo__list-item">
                                    <div class="photo-item__content">
                                        <img src="images/temp/photo-1.jpg" alt="">
                                    </div>
                                    <div class="photo-item__desc">
                                        <span> Фотоматериал 1 </span>
                                    </div>
                                </a>
                                <a href="/images/temp/photo-1.jpg" data-fancybox="photo"
                                   class="photo-item photo__list-item">
                                    <div class="photo-item__content">
                                        <img src="images/temp/photo-1.jpg" alt="">
                                    </div>
                                    <div class="photo-item__desc">
                                        <span> Фотоматериал 1 </span>
                                    </div>
                                </a>     <a href="/images/temp/photo-1.jpg" data-fancybox="photo"
                                            class="photo-item photo__list-item">
                                    <div class="photo-item__content">
                                        <img src="images/temp/photo-1.jpg" alt="">
                                    </div>
                                    <div class="photo-item__desc">
                                        <span> Фотоматериал 1 </span>
                                    </div>
                                </a>
                                <a href="/images/temp/photo-1.jpg" data-fancybox="photo"
                                   class="photo-item photo__list-item">
                                    <div class="photo-item__content">
                                        <img src="images/temp/photo-1.jpg" alt="">
                                    </div>
                                    <div class="photo-item__desc">
                                        <span> Фотоматериал 1 </span>
                                    </div>
                                </a>
                                <a href="/images/temp/photo-1.jpg" data-fancybox="photo"
                                   class="photo-item photo__list-item">
                                    <div class="photo-item__content">
                                        <img src="images/temp/photo-1.jpg" alt="">
                                    </div>
                                    <div class="photo-item__desc">
                                        <span> Фотоматериал 1 </span>
                                    </div>
                                </a>
                                <a href="/images/temp/photo-1.jpg" data-fancybox="photo"
                                   class="photo-item photo__list-item">
                                    <div class="photo-item__content">
                                        <img src="images/temp/photo-1.jpg" alt="">
                                    </div>
                                    <div class="photo-item__desc">
                                        <span> Фотоматериал 1 </span>
                                    </div>
                                </a>
                                <a href="/images/temp/photo-1.jpg" data-fancybox="photo"
                                   class="photo-item photo__list-item">
                                    <div class="photo-item__content">
                                        <img src="images/temp/photo-1.jpg" alt="">
                                    </div>
                                    <div class="photo-item__desc">
                                        <span> Фотоматериал 1 </span>
                                    </div>
                                </a>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
