{% extends 'modules/_main.twig' %}

{% block content %}
    {% include 'modules/modal.twig' %}
    <div class="content block">
        <div class="content__wrapper block__wrapper">
            <div class="content__main">
                <div class="content__section content__section_catalog">
                    <div class="main">
                        <div class="breadcrumbs">
                            <ul>
                                <li><a href="#" class="is-active"> <i></i> Каталог оборудования</a></li>
                                <li><a href="#">Российская линия Zorkiy</a></li>
                                <li><a href="#">Российская линия Optima</a></li>
                                <li><a href="#">Итальянская линия</a></li>
                                <li><a href="#">Доп.оборудование</a></li>
                                <li><a href="#">Фотогалерея</a></li>
                                <li><a href="#">Видеогалерея</a></li>
                            </ul>
                        </div>
                        <div class="catalog">
                            <div class="catalog__product">
                                <div class="product-card">
                                    <div class="product-card__col product-card__col_left">
                                        <div class="product-card__title product-card__title_mobile">
                                            <div class="title title_regular title_color">Фотосепаратор серии OPTIMA
                                                new
                                            </div>
                                        </div>
                                        <div class="product-card__image">
                                            <a href="/images/temp/optima.jpg" data-fancybox> <img
                                                        src="images/temp/optima-pre.jpg" alt=""> </a>
                                        </div>
                                        <div class="product-card__button product-card__button_price">
                                            <button class="button button_price" data-fancybox data-src="#modal01"
                                                    href="javascript:;">
                                                <div class="button__icon button__icon_price"></div>
                                                <span>Уточнить цену </span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="product-card__col product-card__col_right">
                                        <div class="product-card__info">
                                            <div class="product-card__title">
                                                <h2 class="title title_regular title_color">Фотосепаратор серии OPTIMA
                                                    new</h2>
                                            </div>
                                            <div class="product-card__wrapper">
                                                <div class="product-card__desc">
                                                    <div class="text-content">
                                                        Фотосепаратор Optima - надёжное и стабильное оборудование.
                                                        Современные разработки позволили воплотить в этой модели
                                                        одновременно высокую производительность и компактные размеры.
                                                        Система анализа основанная на CCD камерах и новые алгоритмы
                                                        сортировки аппарата сделали точность сортировки выше.
                                                        Фотосепаратор
                                                        серии Optima полностью готов к эксплуатации на вашей культуре
                                                        после
                                                        приобретения.
                                                    </div>
                                                    <div class="product-card__button product-card__button_next">
                                                        <button class="button button_next">
                                                            <div class="button__wrapper"><span> Подробнее</span></div>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="product-card__file">
                                                    <a href="#" class="product-card__file-wrapper">
                                                        <div class="product-card__file-image">
                                                            <img src="images/main/pdf-icon.png" alt="">
                                                        </div>
                                                        <div class="product-card__file-title">
                                                            <span> Буклет фотосепаратора OPTIMA NEW</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="product-card">
                                    <div class="product-card__col product-card__col_left">
                                        <div class="product-card__title product-card__title_mobile">
                                            <div class="title title_regular title_color">Фотосепаратор серии OPTIMA
                                                new
                                            </div>
                                        </div>
                                        <div class="product-card__image">
                                            <a href="/images/temp/optima.jpg" data-fancybox> <img
                                                        src="images/temp/optima-pre.jpg" alt=""> </a>
                                        </div>
                                        <div class="product-card__button product-card__button_price">
                                            <button class="button button_price" data-fancybox data-src="#modal02">
                                                <div class="button__icon button__icon_price"></div>
                                                <span>Уточнить цену</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="product-card__col product-card__col_right">
                                        <div class="product-card__info">
                                            <div class="product-card__title">
                                                <h2 class="title title_regular title_color">Фотосепаратор серии OPTIMA
                                                    new</h2>
                                            </div>
                                            <div class="product-card__wrapper">
                                                <div class="product-card__desc">
                                                    <div class="text-content">
                                                        Фотосепаратор Optima - надёжное и стабильное оборудование.
                                                        Современные разработки позволили воплотить в этой модели
                                                        одновременно высокую производительность и компактные размеры.
                                                        Система анализа основанная на CCD камерах и новые алгоритмы
                                                        сортировки аппарата сделали точность сортировки выше.
                                                        Фотосепаратор
                                                        серии Optima полностью готов к эксплуатации на вашей культуре
                                                        после
                                                        приобретения.
                                                    </div>
                                                    <div class="product-card__button product-card__button_next">
                                                        <button class="button button_next" data-fancybox data-src="#modal03">
                                                            <div class="button__wrapper"><span> Подробнее</span></div>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="product-card__file">
                                                    <a href="#" class="product-card__file-wrapper">
                                                        <div class="product-card__file-image">
                                                            <img src="images/main/pdf-icon.png" alt="">
                                                        </div>
                                                        <div class="product-card__file-title">
                                                            <span> Буклет фотосепаратора OPTIMA NEW</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="product-card">
                                    <div class="product-card__col product-card__col_left">
                                        <div class="product-card__title product-card__title_mobile">
                                            <div class="title title_regular title_color">Фотосепаратор серии OPTIMA
                                                new
                                            </div>
                                        </div>
                                        <div class="product-card__image">
                                            <a href="/images/temp/optima.jpg" data-fancybox> <img
                                                        src="images/temp/optima-pre.jpg" alt=""> </a>
                                        </div>
                                        <div class="product-card__button product-card__button_price">
                                            <button class="button button_price">
                                                <div class="button__icon button__icon_price"></div>
                                                <span>Уточнить цену</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="product-card__col product-card__col_right">
                                        <div class="product-card__info">
                                            <div class="product-card__title">
                                                <h2 class="title title_regular title_color">Фотосепаратор серии OPTIMA
                                                    new</h2>
                                            </div>
                                            <div class="product-card__wrapper">
                                                <div class="product-card__desc">
                                                    <div class="text-content">
                                                        Фотосепаратор Optima - надёжное и стабильное оборудование.
                                                        Современные разработки позволили воплотить в этой модели
                                                        одновременно высокую производительность и компактные размеры.
                                                        Система анализа основанная на CCD камерах и новые алгоритмы
                                                        сортировки аппарата сделали точность сортировки выше.
                                                        Фотосепаратор
                                                        серии Optima полностью готов к эксплуатации на вашей культуре
                                                        после
                                                        приобретения.
                                                    </div>
                                                    <div class="product-card__button product-card__button_next">
                                                        <button class="button button_next">
                                                            <div class="button__wrapper"><span> Подробнее</span></div>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="product-card__file">
                                                    <a href="#" class="product-card__file-wrapper">
                                                        <div class="product-card__file-image">
                                                            <img src="images/main/pdf-icon.png" alt="">
                                                        </div>
                                                        <div class="product-card__file-title">
                                                            <span> Буклет фотосепаратора OPTIMA NEW</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="product-card">
                                    <div class="product-card__col product-card__col_left">
                                        <div class="product-card__title product-card__title_mobile">
                                            <div class="title title_regular title_color">Фотосепаратор серии OPTIMA
                                                new
                                            </div>
                                        </div>
                                        <div class="product-card__image">
                                            <a href="/images/temp/optima.jpg" data-fancybox> <img
                                                        src="images/temp/optima-pre.jpg" alt=""> </a>
                                        </div>
                                        <div class="product-card__button product-card__button_price">
                                            <button class="button button_price">
                                                <div class="button__icon button__icon_price"></div>
                                                <span>Уточнить цену</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="product-card__col product-card__col_right">
                                        <div class="product-card__info">
                                            <div class="product-card__title">
                                                <h2 class="title title_regular title_color">Фотосепаратор серии OPTIMA
                                                    new</h2>
                                            </div>
                                            <div class="product-card__wrapper">
                                                <div class="product-card__desc">
                                                    <div class="text-content">
                                                        Фотосепаратор Optima - надёжное и стабильное оборудование.
                                                        Современные разработки позволили воплотить в этой модели
                                                        одновременно высокую производительность и компактные размеры.
                                                        Система анализа основанная на CCD камерах и новые алгоритмы
                                                        сортировки аппарата сделали точность сортировки выше.
                                                        Фотосепаратор
                                                        серии Optima полностью готов к эксплуатации на вашей культуре
                                                        после
                                                        приобретения.
                                                    </div>
                                                    <div class="product-card__button product-card__button_next">
                                                        <button class="button button_next">
                                                            <div class="button__wrapper"><span> Подробнее</span></div>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="product-card__file">
                                                    <a href="#" class="product-card__file-wrapper">
                                                        <div class="product-card__file-image">
                                                            <img src="images/main/pdf-icon.png" alt="">
                                                        </div>
                                                        <div class="product-card__file-title">
                                                            <span> Буклет фотосепаратора OPTIMA NEW</span>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="catalog__recommend">
                                <div class="recommend">
                                    <div class="recommend__title">
                                        С этим оборудованием также приобретают:
                                    </div>
                                    <div class="recommend__wrapper">
                                        <a href="#" class="recommend__item">
                                            <div class="recommend__item-image">
                                                <img src="images/temp/noriya-lentochnaya-csort.jpg" alt="">
                                            </div>
                                            <div class="recommend__item-info">
                                                <div class="recommend__item-title">Нория ленточная</div>
                                                <div class="recommend__item-desc">Нории (элеваторы ковшовые) в
                                                    оцинкованном исполнении предназначены для транспортировки в
                                                    вертикальном направлении сыпучих материалов.
                                                </div>
                                                <div class="recommend__item-link">
                                                    <span><i></i> Подробнее</span>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="recommend__item">
                                            <div class="recommend__item-image">
                                                <img src="images/temp/noriya-lentochnaya-csort.jpg" alt="">
                                            </div>
                                            <div class="recommend__item-info">
                                                <div class="recommend__item-title">Нория ленточная</div>
                                                <div class="recommend__item-desc">Нории (элеваторы ковшовые) в
                                                    оцинкованном исполнении предназначены для транспортировки в
                                                    вертикальном направлении сыпучих материалов.
                                                </div>
                                                <div class="recommend__item-link">
                                                    <span><i></i> Подробнее</span>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="recommend__item">
                                            <div class="recommend__item-image">
                                                <img src="images/temp/noriya-lentochnaya-csort.jpg" alt="">
                                            </div>
                                            <div class="recommend__item-info">
                                                <div class="recommend__item-title">Нория ленточная</div>
                                                <div class="recommend__item-desc">Нории (элеваторы ковшовые) в
                                                    оцинкованном исполнении предназначены для транспортировки в
                                                    вертикальном направлении сыпучих материалов.
                                                </div>
                                                <div class="recommend__item-link">
                                                    <span><i></i> Подробнее</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
