{% extends 'modules/_main.twig' %}

{% block content %}
    {% include 'modules/modal.twig' %}
    <div class="content block">
        <div class="content__wrapper block__wrapper">
            <div class="content__main">
                <div class="content__section content__section_catalog">
                    <div class="main">
                        <div class="breadcrumbs">
                            <ul>
                                <li><a href="#" class="is-active"> <i></i> Каталог оборудования</a></li>
                                <li><a href="#">Российская линия Zorkiy</a></li>
                                <li><a href="#">Российская линия Optima</a></li>
                                <li><a href="#">Итальянская линия</a></li>
                                <li><a href="#">Доп.оборудование</a></li>
                                <li><a href="#">Фотогалерея</a></li>
                                <li><a href="#">Видеогалерея</a></li>
                            </ul>
                        </div>
                        <div class="product">
                            <div class="product__wrapper">
                                <div class="product__aside">
                                    <div class="product__title product__title_mobile">
                                        <span class="title title_color title_big title_regular"> Фотосепаратор OPTIMA
                                            NEW </span>

                                    </div>
                                    <div class="product__section product__section_price product__section_mobile">
                                        <button js-mobile-button class="button button_price" data-fancybox
                                                data-src="#modal01">
                                            <div class="button__icon button__icon_price"></div>
                                            <span>Уточнить цену </span>
                                        </button>
                                    </div>
                                    <div class="product__section product__section_gallery">
                                        <div class="product-gallery">
                                            <div js-product-gallery-list class="owl-carousel owl-theme">
                                                <div class="product-gallery__item"><a href="/images/temp/optima-pre.jpg"
                                                                                      data-fancybox="product"><img
                                                                src="images/temp/optima-pre.jpg" alt=""></a></div>
                                                <div class="product-gallery__item"><a href="/images/temp/optima-pre.jpg"
                                                                                      data-fancybox="product"><img
                                                                src="images/temp/optima-pre.jpg" alt=""></a></div>
                                                <div class="product-gallery__item"><a href="/images/temp/optima-pre.jpg"
                                                                                      data-fancybox="product"><img
                                                                src="images/temp/optima-pre.jpg" alt=""></a></div>
                                            </div>
                                            <div class="product-gallery__nav">
                                                <div js-product-gallery-prev class="product-gallery__nav-next"></div>
                                                <div class="product-gallery__nav-middle"></div>
                                                <div js-product-gallery-next class="product-gallery__nav-prev"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="product__section product__section_price product__section_hidden">
                                        <button class="button button_price" data-fancybox data-src="#modal01"
                                                href="javascript:;">
                                            <div class="button__icon button__icon_price"></div>
                                            <span>Уточнить цену </span>
                                        </button>
                                    </div>

                                    <div class="product__section product__section_price">
                                        <div class="product__file">
                                            <div class="product__file-title"><span>Рекомендуем ознакомиться</span></div>
                                            <div class="product__file-wrapper">
                                                <div class="product__file-icon">
                                                    <img src="images/main/pdf-icon.png" alt="#">
                                                </div>
                                                <div class="product__file-link">
                                                    <a href="#">Буклет фотосепаратора OPTIMA NEW</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="product__main">
                                    <div class="product__title">
                                        <h1 class="title title_color title_big title_regular"> Фотосепаратор OPTIMA
                                            NEW </h1>

                                    </div>
                                    <div class="product-tabs">
                                        <div class="product-tabs__header">
                                            <div js-tab="1"
                                                 class="product-tabs__header-item product-tabs__header-item_active product-tabs__header-item_desc">
                                                Описание
                                            </div>
                                            <div js-tab="2"
                                                 class="product-tabs__header-item  product-tabs__header-item_options">
                                                Параметры
                                            </div>
                                            <div js-tab="3"
                                                 class="product-tabs__header-item product-tabs__header-item_video">
                                                <div class="product-tabs__video">
                                                    <div class="product-tabs__video-title"> Видео</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="product-tabs__main">
                                            <div class="product-tabs__item">
                                                <div js-product-tabs-mobile="1"
                                                     class="product-tabs__mobile-header product-tabs__mobile-header_desc product-tabs__mobile-header_show">
                                                    <div class="product-tabs__mobile-title"> Описание</div>
                                                    <div class="product-tabs__mobile-open"></div>
                                                </div>
                                                <div js-tab-content="1"
                                                     class="product-tabs__content product-tabs__content_show">
                                                    <div class="text-content text-content_product">
                                                        <p>
                                                            Фотосепаратор Optima - надёжное и стабильное оборудование.
                                                            Современные разработки позволили воплотить в этой модели
                                                            одновременно высокую производительность и компактные
                                                            размеры.
                                                            Система анализа основанная на CCD камерах и новые алгоритмы
                                                            сортировки аппарата сделали точность сортировки выше.
                                                            Фотосепаратор серии Optima полностью готов к эксплуатации на
                                                            вашей культуре после приобретения.</p>
                                                        <p><h5>Результаты сортировки на фотосепараторе OPTIMA
                                                            new</h5></p>
                                                        <p>Чистота продукта после применения фотосепаратора составляет
                                                            до 99,5% *
                                                        </p>
                                                        <p>* При сортировке пшеницы засоренностью до 2%</p>
                                                        <p><H5>Основные преимущества</H5></p>
                                                        <P>Качество выше. Новое программное обеспечение и новая схема
                                                            анализа продукта основанная на CCD камерах позволяет
                                                            повысить точность сортировки.
                                                            Простота в управлении. Простое программное управление
                                                            аппаратом, позволяет избежать ошибок в настройке.
                                                            Система самодиагностики предупреждает о возникших проблемах
                                                            в работе аппарата.
                                                            Производительность выше при меньших габаритах.
                                                            Компактные размеры аппарата позволяют устанавливать
                                                            сепаратор в помещения меньших габаритов.
                                                            Быстрый запуск. Машина максимально готова к использованию.
                                                            Все настройки для Вашей культуры уже установлены в аппарат.
                                                            Новая конструкция повышает удобство в эксплуатации и ремонте
                                                            сепаратора.
                                                            Надёжность в работе. В аппарате использованы проверенные
                                                            алгоритмы работы
                                                            * При исходной засоренности не более 2%, объемной массе
                                                            продукта 0,750 т/м3.
                                                        </P>
                                                        <P>
                                                        </P>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="product-tabs__item">
                                                <div js-product-tabs-mobile="2"
                                                     class="product-tabs__mobile-header product-tabs__mobile-header_options">
                                                    <div class="product-tabs__mobile-title"> Параметры</div>
                                                    <div class="product-tabs__mobile-open"></div>
                                                </div>
                                                <div js-tab-content="2" class="product-tabs__content">
                                                    <div class="text-content text-content_product">
                                                        <p><h5>Результаты сортировки на фотосепараторе OPTIMA
                                                            new</h5></p>
                                                        <p>Чистота продукта после применения фотосепаратора составляет
                                                            до 99,5% *
                                                        </p>
                                                        <div>
                                                            <table>

                                                                <thead>
                                                                <tr>
                                                                    <td>dsf</td>
                                                                    <td>sdfs</td>
                                                                    <td>sdf</td>
                                                                    <td>sdf</td>
                                                                    <td>dfsd</td>
                                                                    <td>dsf</td>
                                                                    <td>sdfs</td>
                                                                    <td>sdf</td>
                                                                    <td>sdf</td>
                                                                    <td>dfsd</td>
                                                                    <td>dsf</td>
                                                                    <td>sdfs</td>
                                                                    <td>sdf</td>
                                                                    <td>sdf</td>
                                                                    <td>dfsd</td>
                                                                    <td>dsf</td>
                                                                    <td>sdfs</td>
                                                                    <td>sdf</td>
                                                                    <td>sdf</td>
                                                                    <td>dfsd</td>
                                                                    <td>dsf</td>
                                                                    <td>sdfs</td>
                                                                    <td>sdf</td>
                                                                    <td>sdf</td>
                                                                    <td>dfsd</td>
                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr>
                                                                    <td>dsf</td>
                                                                    <td>sdfs</td>
                                                                    <td>sdf</td>
                                                                    <td>sdf</td>
                                                                    <td>dfsd</td>
                                                                    <td>dsf</td>
                                                                    <td>sdfs</td>
                                                                    <td>sdf</td>
                                                                    <td>sdf</td>
                                                                    <td>dfsd</td>
                                                                    <td>dsf</td>
                                                                    <td>sdfs</td>
                                                                    <td>sdf</td>
                                                                    <td>sdf</td>
                                                                    <td>dfsd</td>
                                                                    <td>dsf</td>
                                                                    <td>sdfs</td>
                                                                    <td>sdf</td>
                                                                    <td>sdf</td>
                                                                    <td>dfsd</td>
                                                                    <td>dsf</td>
                                                                    <td>sdfs</td>
                                                                    <td>sdf</td>
                                                                    <td>sdf</td>
                                                                    <td>dfsd</td>
                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="product-tabs__item product-tabs__item_video">
                                                <div js-product-tabs-mobile="3"
                                                     class="product-tabs__mobile-header product-tabs__mobile-header_video">
                                                    <div class="product-tabs__mobile-title">
                                                        <div class="product-tabs__video product-tabs__video_mobile">
                                                            <div class="product-tabs__video-title product-tabs__video-title_mobile">
                                                                отзывы
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="product-tabs__mobile-open"></div>
                                                </div>
                                                <div js-tab-content="3"
                                                     class="product-tabs__content product-tabs__content_video">
                                                    <div class="text-content text-content_product">
                                                        <iframe width="560" height="315"
                                                                src="https://www.youtube.com/embed/_BLQTVxJIO4"
                                                                frameborder="0" allowfullscreen></iframe>
                                                        <iframe width="560" height="315"
                                                                src="https://www.youtube.com/embed/_BLQTVxJIO4"
                                                                frameborder="0" allowfullscreen></iframe>
                                                        <iframe width="560" height="315"
                                                                src="https://www.youtube.com/embed/_BLQTVxJIO4"
                                                                frameborder="0" allowfullscreen></iframe>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% include "modules/mobile-review.twig" %}
                                    </div>

                                </div>
                            </div>
                            <div class="product__recommend">
                                <div class="recommend">
                                    <div class="recommend__title">
                                        С этим оборудованием также приобретают:
                                    </div>
                                    <div class="recommend__wrapper">
                                        <a href="#" class="recommend__item">
                                            <div class="recommend__item-image">
                                                <img src="images/temp/noriya-lentochnaya-csort.jpg" alt="">
                                            </div>
                                            <div class="recommend__item-info">
                                                <div class="recommend__item-title">Нория ленточная</div>
                                                <div class="recommend__item-desc">Нории (элеваторы ковшовые) в
                                                    оцинкованном исполнении предназначены для транспортировки в
                                                    вертикальном направлении сыпучих материалов.
                                                </div>
                                                <div class="recommend__item-link">
                                                    <span><i></i> Подробнее</span>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="recommend__item">
                                            <div class="recommend__item-image">
                                                <img src="images/temp/noriya-lentochnaya-csort.jpg" alt="">
                                            </div>
                                            <div class="recommend__item-info">
                                                <div class="recommend__item-title">Нория ленточная</div>
                                                <div class="recommend__item-desc">Нории (элеваторы ковшовые) в
                                                    оцинкованном исполнении предназначены для транспортировки в
                                                    вертикальном направлении сыпучих материалов.
                                                </div>
                                                <div class="recommend__item-link">
                                                    <span><i></i> Подробнее</span>
                                                </div>
                                            </div>
                                        </a>
                                        <a href="#" class="recommend__item">
                                            <div class="recommend__item-image">
                                                <img src="images/temp/noriya-lentochnaya-csort.jpg" alt="">
                                            </div>
                                            <div class="recommend__item-info">
                                                <div class="recommend__item-title">Нория ленточная</div>
                                                <div class="recommend__item-desc">Нории (элеваторы ковшовые) в
                                                    оцинкованном исполнении предназначены для транспортировки в
                                                    вертикальном направлении сыпучих материалов.
                                                </div>
                                                <div class="recommend__item-link">
                                                    <span><i></i> Подробнее</span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% include 'modules/mobile-fixed-button.twig' with {src: "#modal01", text:'Уточнить цену'} %}
{% endblock %}
