{% extends 'modules/_main.twig' %}

{% block content %}
    <div class="content block">
        <div class="content__wrapper block__wrapper">
            <div class="content__main">
                <div class="content__section content__section_catalog">
                    <div class="main">
                        <div class="breadcrumbs">
                            <ul>
                                <li><a href="#" class="is-active"> <i></i> Каталог оборудования</a></li>
                                <li><a href="#">Российская линия Zorkiy</a></li>
                                <li><a href="#">Российская линия Optima</a></li>
                                <li><a href="#">Итальянская линия</a></li>
                                <li><a href="#">Доп.оборудование</a></li>
                                <li><a href="#">Фотогалерея</a></li>
                                <li><a href="#">Видеогалерея</a></li>
                            </ul>
                        </div>
                        <div class="sale-map">
                            <div class="sale-map__title">
                                <h1 class="title title_large"> Карта продаж </h1>
                            </div>
                            <div class="sale-map__content">
                                <div class="sale-map__content-main">
                                    <iframe width="100%" height="480"
                                            src="https://www.google.com/maps/d/embed?mid=zgCYMSbCTl_g.k5xNQOI_--qA"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
