{% extends 'modules/_main.twig' %}

{% block content %}
    {% include 'modules/modal-sort.twig' %}
    <div class="content block">
        <div class="content__wrapper block__wrapper">
            <div class="content__main">
                <div class="content__section content__section_catalog">
                    <div class="main">
                        <div class="breadcrumbs">
                            <ul>
                                <li><a href="#" class="is-active"> <i></i> Каталог оборудования</a></li>
                                <li><a href="#">Российская линия Zorkiy</a></li>
                                <li><a href="#">Российская линия Optima</a></li>
                                <li><a href="#">Итальянская линия</a></li>
                                <li><a href="#">Доп.оборудование</a></li>
                                <li><a href="#">Фотогалерея</a></li>
                                <li><a href="#">Видеогалерея</a></li>
                            </ul>
                        </div>
                        <div class="sort-product">
                            <div class="sort-product__wrapper sort-product__wrapper_intro">
                                <div class="sort-product__main sort-product__main_intro sort-product__main_merge">
                                    <div class="sort-product__intro">
                                        <div class="sort-product__intro-title">
                                            <h1 class="title title_large"> Результат очистки фасоли от примесей на
                                                фотосепараторе </h1>
                                        </div>
                                        <div class="sort-product__cards">
                                            <a data-fancybox="sort" href="/images/main/sort1.jpg"
                                               class="sort-product__card sort-product__card_photo">
                                                <div style="background-image: url('images/main/sort1.jpg');"
                                                     class="sort-product__card-photo">

                                                </div>
                                                <div class="sort-product__card-desc">
                                                    <span>Крупа гречневая (отход) после сортировки на фотосепараторе</span>
                                                </div>
                                            </a>
                                            <a data-fancybox="sort" href="/images/main/sort2.jpg"
                                               class="sort-product__card sort-product__card_photo">
                                                <div class="sort-product__card-photo"
                                                     style="background-image: url('images/main/sort2.jpg');">

                                                </div>
                                                <div class="sort-product__card-desc">
                                                    <span>Крупа гречневая (отход) после сортировки на фотосепараторе</span>
                                                </div>
                                            </a>
                                            <a data-fancybox="sort"
                                               href="https://www.youtube.com/embed/OycrOYSJmv8?autoplay=1&rel=0"
                                               class="sort-product__card sort-product__card_video">
                                                <div style="background-image: url('images/main/sort3.jpg');"
                                                     class="sort-product__card-video ">

                                                </div>
                                                <div class="sort-product__card-desc">
                                                    <span>Видео: очистка гречневой крупы на фотосепараторе</span>

                                                </div>
                                            </a>
                                        </div>
                                        <div class="sort-product__trial">
                                            <div class="sort-product__button">
                                                <button data-fancybox data-src="#modal01"
                                                        class="button button_price button_price-mobile">
                                                    <span class="button__icon button__icon_trial button__icon_trial-mobile"></span>
                                                    <span>Заказать на тестовую сортировку</span>
                                                </button>
                                            </div>
                                            <div class="sort-product__promo">
                                                <a data-fancybox="" href="/images/main/promo-sort.jpg"> <img
                                                            src="images/main/promo-sort.jpg" alt=""> </a>
                                            </div>
                                        </div>
                                        <div class="sort-product__text">
                                            <div class="text-content">
                                                Фотосепараторы используются для сортировки практически любых культур,
                                                быстро
                                                и эффективно отделяя годный продукт от самых разнообразных засорителей.
                                                Это
                                                могут быть поврежденные, испорченные или зараженные зерновки,
                                                фузариозные
                                                зерна, семена дикорастущих и культурных растений, частицы стеблей и т.д.
                                                Подобные засорители не отличаются от основного зерна иными признаками,
                                                кроме
                                                цвета, но представляют иногда опасность для организма человека. При этом
                                                аппарат способен решать задачи, которые ранее считались невыполнимыми,
                                                например, выделить такие трудноотделимые примеси, как татарская гречишка
                                                и
                                                недоруш из гречневой крупы, овсюг из овса, пелюшка из гороха, стекло из
                                                риса.

                                                На сайте представлены лишь некоторые из многочисленных продуктов (а
                                                также их
                                                типичные засорители), которые могут быть отсортированы на
                                                фотосепараторе.
                                                Для получения более подробной информации об интересующем вас продукте вы
                                                можете отправить или привезти лично образец сырья в торгово-сервисный
                                                центр
                                                CSort. Инженеры компании проведут необходимый анализ продукта до и после
                                                сортировки, продемонстрируют работу оборудования и ответят на
                                                появившиеся
                                                вопросы.

                                                Если на данный момент вы не испытываете необходимости в приобретении
                                                фотосепаратора или вложения в аппарат не являются приоритетными, вы
                                                всегда
                                                можете воспользоваться услугой сортировки от компании CSort. Достаточно
                                                лишь
                                                связаться с нашими специалистами.
                                            </div>
                                        </div>
                                        <div class="sort-product__recommended">
                                            <div class="recommend">
                                                <div class="recommend__title">
                                                    Рекомендуем
                                                </div>
                                                <div class="recommend__wrapper">
                                                    <a href="#" class="recommend__item">
                                                        <div class="recommend__item-image">
                                                            <img src="images/temp/noriya-lentochnaya-csort.jpg" alt="">
                                                        </div>
                                                        <div class="recommend__item-info">
                                                            <div class="recommend__item-title">Нория ленточная</div>
                                                            <div class="recommend__item-desc">Нории (элеваторы ковшовые)
                                                                в
                                                                оцинкованном исполнении предназначены для
                                                                транспортировки в
                                                                вертикальном направлении сыпучих материалов.
                                                            </div>
                                                            <div class="recommend__item-link">
                                                                <span><i></i> Подробнее</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="recommend__item">
                                                        <div class="recommend__item-image">
                                                            <img src="images/temp/noriya-lentochnaya-csort.jpg" alt="">
                                                        </div>
                                                        <div class="recommend__item-info">
                                                            <div class="recommend__item-title">Нория ленточная</div>
                                                            <div class="recommend__item-desc">Нории (элеваторы ковшовые)
                                                                в
                                                                оцинкованном исполнении предназначены для
                                                                транспортировки в
                                                                вертикальном направлении сыпучих материалов.
                                                            </div>
                                                            <div class="recommend__item-link">
                                                                <span><i></i> Подробнее</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                    <a href="#" class="recommend__item">
                                                        <div class="recommend__item-image">
                                                            <img src="images/temp/noriya-lentochnaya-csort.jpg" alt="">
                                                        </div>
                                                        <div class="recommend__item-info">
                                                            <div class="recommend__item-title">Нория ленточная</div>
                                                            <div class="recommend__item-desc">Нории (элеваторы ковшовые)
                                                                в
                                                                оцинкованном исполнении предназначены для
                                                                транспортировки в
                                                                вертикальном направлении сыпучих материалов.
                                                            </div>
                                                            <div class="recommend__item-link">
                                                                <span><i></i> Подробнее</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="sort-product__aside sort-product__aside_color sort-product__aside_merge">

                                    {% include 'modules/sort-product-nav.twig' with { title:"Пишевое направление",class: "sort-product__food" } %}
                                    {% include 'modules/sort-product-nav.twig' with { title:"Промышленное направлние",class: "sort-product__nav_industry" } %}

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% include 'modules/mobile-fixed-button.twig' with {src: "#modal01", class: "mobile-fixed-button_active", text: "Пробная сортировка"} %}
{% endblock %}
