{% extends 'modules/_main.twig' %}

{% block content %}
    {% include 'modules/modal-sort.twig' %}
    <div class="content block">
        <div class="content__wrapper block__wrapper">
            <div class="content__main">
                <div class="content__section content__section_catalog">
                    <div class="main">
                        <div class="breadcrumbs">
                            <ul>
                                <li><a href="#" class="is-active"> <i></i> Каталог оборудования</a></li>
                                <li><a href="#">Российская линия Zorkiy</a></li>
                                <li><a href="#">Российская линия Optima</a></li>
                                <li><a href="#">Итальянская линия</a></li>
                                <li><a href="#">Доп.оборудование</a></li>
                                <li><a href="#">Фотогалерея</a></li>
                                <li><a href="#">Видеогалерея</a></li>
                            </ul>
                        </div>
                        <div class="sort-product">
                            <div class="sort-product__title">
                                <h1 class="title title title_large title_color"> Сортируемые продукты</h1>
                            </div>
                            <div class="sort-product__desc">
                                <div class="text-content">
                                    В отличие от первых фотосепараторов, которые использовались преимущественно для
                                    сортировки риса, возможности современных аппаратов значительно расширились. На
                                    сегодняшний день технология фотосепарации / colour sorting применяется в отношении
                                    любых сыпучих продуктов, имеющих примеси, отличимые по цвету, что делает
                                    цветосортировщик универсальным в плане сферы применения. Сортировка зерна, крупы,
                                    семян, орехов, ягод и даже сортировка грибов – все это легко осуществимо на
                                    фотосепарационном оборудовании.

                                    Решающим фактором в выборе оборудования является качество его работы. Чтобы принять
                                    решение, необходимо убедиться в его результативности его работы. Наша компания
                                    проводит сортировку образца продукта для анализа результатов. Специалисты проведут
                                    анализ продукта до- и после сортировки, предоставят результаты, сообщат
                                    производительность аппарата на данном продукте с указанной засоренностью.

                                    При этом, новейшие цифровые технологии эффективно справляются с задачами сортировки
                                    как пищевых культур, так и непищевых материалов, например сортировки пластмассы,
                                    существенно повышая качество конечного продукта. А простое программное обеспечение
                                    позволяет использовать большое количество программ и за считанные минуты
                                    перенастраивать аппарат на новый продукт.
                                </div>
                            </div>
                            <div class="sort-product__button">
                                <button data-fancybox data-src="#modal01"
                                        class="button button_price button_price-mobile">
                                    <span class="button__icon button__icon_trial button__icon_trial-mobile"></span>
                                    <span>Заказать на тестовую сортировку</span>
                                </button>
                            </div>
                            <div class="sort-product__wrapper sort-product__wrapper_intro">
                                <div class="sort-product__aside sort-product__aside_color">
                                    {% include 'modules/sort-product-nav.twig' with {title: "Зерно"} %}
                                    {% include 'modules/sort-product-nav.twig' with {title: "Бетон"} %}
                                    {% include 'modules/sort-product-nav.twig' with {title: "Арматура"} %}
                                </div>
                                <div class="sort-product__main sort-product__main_hidden-mobile sort-product__main_intro">
                                    <div class="sort-product__intro">
                                        <div class="text-content">
                                            Фотосепараторы используются для сортировки практически любых культур, быстро
                                            и эффективно отделяя годный продукт от самых разнообразных засорителей. Это
                                            могут быть поврежденные, испорченные или зараженные зерновки, фузариозные
                                            зерна, семена дикорастущих и культурных растений, частицы стеблей и т.д.
                                            Подобные засорители не отличаются от основного зерна иными признаками, кроме
                                            цвета, но представляют иногда опасность для организма человека. При этом
                                            аппарат способен решать задачи, которые ранее считались невыполнимыми,
                                            например, выделить такие трудноотделимые примеси, как татарская гречишка и
                                            недоруш из гречневой крупы, овсюг из овса, пелюшка из гороха, стекло из
                                            риса.

                                            На сайте представлены лишь некоторые из многочисленных продуктов (а также их
                                            типичные засорители), которые могут быть отсортированы на фотосепараторе.
                                            Для получения более подробной информации об интересующем вас продукте вы
                                            можете отправить или привезти лично образец сырья в торгово-сервисный центр
                                            CSort. Инженеры компании проведут необходимый анализ продукта до и после
                                            сортировки, продемонстрируют работу оборудования и ответят на появившиеся
                                            вопросы.

                                            Если на данный момент вы не испытываете необходимости в приобретении
                                            фотосепаратора или вложения в аппарат не являются приоритетными, вы всегда
                                            можете воспользоваться услугой сортировки от компании CSort. Достаточно лишь
                                            связаться с нашими специалистами.
                                        </div>
                                    </div>
                                    <div class="sort-product__decor-image">
                                        <img src="images/main/sort-decor-1.png" alt="">
                                        <img src="images/main/sort-decor-2.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% include 'modules/mobile-fixed-button.twig' with {src: "#modal01", class: "mobile-fixed-button_active", text: "Пробная сортировка"} %}
{% endblock %}
