{% extends 'modules/_main.twig' %}

{% block content %}
    <div class="content block">
        <div class="content__wrapper block__wrapper">
            <div class="content__main">
                <div class="content__section content__section_catalog">
                    <div class="main">
                        <div class="breadcrumbs">
                            <ul>
                                <li><a href="#" class="is-active"> <i></i> Каталог оборудования</a></li>
                                <li><a href="#">Российская линия Zorkiy</a></li>
                                <li><a href="#">Российская линия Optima</a></li>
                                <li><a href="#">Итальянская линия</a></li>
                                <li><a href="#">Доп.оборудование</a></li>
                                <li><a href="#">Фотогалерея</a></li>
                                <li><a href="#">Видеогалерея</a></li>
                            </ul>
                        </div>
                        <div class="video">
                            <div class="video__title">
                                <h1 class="title title_large"> Видеоматериалы </h1>
                            </div>
                            <div class="video__list">
                                {% include 'modules/video-list-item.twig' with { src: "https://www.youtube.com/embed/ypEibiM5NUA", title: "Видео 1"} %}
                                {% include 'modules/video-list-item.twig' with { src: "https://www.youtube.com/embed/ypEibiM5NUA",title: "Видео 1"} %}
                                {% include 'modules/video-list-item.twig' with { src: "https://www.youtube.com/embed/ypEibiM5NUA",title: "Видео 1"} %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
