<!DOCTYPE html>
<html class="{% block pageMod %}{% endblock %}">
    <head>
	    <meta charset="utf-8">
        <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
        <meta name="format-detection" content="telephone=no">
        <link rel="shortcut icon" href="/favicon.ico">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">


        <meta property="og:title" content="Компания CSort"/>
        <meta property="og:type" content="article"/>
        <meta property="og:url" content="csort-dev.p-host.in"/>
        <meta property="og:description" content="Фотоэлектронные сепараторы зерна (фотосепараторы) от компании CSort. Поставки сепараторов зерна по России и  ближнему зарубежью."/>
        <meta property="og:image" content="/images/main/logo-main.jpg"/>
        <meta property="og:site_name" content="csort-dev.p-host.in"/>
        <meta property="twitter:card" content="summary_large_image"/>
        <meta property="twitter:title" content="Компания CSort"/>
        <meta property="twitter:description" content="Фотоэлектронные сепараторы зерна (фотосепараторы) от компании CSort. Поставки сепараторов зерна по России и  ближнему зарубежью."/>
        <meta property="twitter:text:description" content="Фотоэлектронные сепараторы зерна (фотосепараторы) от компании CSort. Поставки сепараторов зерна по России и  ближнему зарубежью."/>
        <meta property="twitter:image" content="/images/main/logo-main.jpg"/>
        <meta property="twitter:url" content=""/>
        <meta name="twitter:site" content="@nhl">
        <meta name="twitter:creator" content="@nhl">
        <meta property="og:image:width" content="720"/>
        <meta property="og:image:height" content="400"/>


        {% block meta %}{% endblock %}

        <link rel="stylesheet" href="css/vendor.css">
        <link rel="stylesheet" href="css/common.css">

        <script src="js/vendor.js"></script>
        <script src="js/common.js"></script>

    </head>
    <body class="body">
        <div class="body__wrapper" >
            {% include 'header.twig' %}
            {% block content %}

            {% endblock %}
            {% include 'footer.twig' %}
        </div>
    </body>
</html>
