<div class="contact__list-item contact-item">
    <div class="contact-item__image">
        <img src="images/temp/contact-info.jpg" alt="">
    </div>
    <div class="contact-item__desc">
        <div class="contact-item__desc-wrapper">
            <div class="contact-item__info">
                <div class="contact-item__info-name">
                    <p> Старков</p>
                    <p> Александр Владимирович</p>
                </div>
                <div class="contact-item__info-work">
                    Руководитель отдела ВЭД
                </div>
            </div>
            <div class="contact-item__additionally">
                <div class="contact-item__additionally-wrapper">
                    <div class="contact-item__additionally-address">
                        <p class="is-city">Барнаул</p>
                        <p class="is-street">656023, Россия, г. Барнаул, ул. Германа
                            Титова, 7</p>
                    </div>
                    <div class="contact-item__additionally-list">
                        <div class="contact-item__additionally-item">
                            <span><a href="tel:+7 (3852) 29-03-10">Тел./факс +7 (3852) 29-03-10</a></span>
                        </div>
                        <div class="contact-item__additionally-item contact-item__additionally-item_border">
                            <p><span><a href="tel: Тел.: +7 (3852) 34-56-37"> Тел.: +7 (3852) 34-56-37</a></span>
                            </p>
                            <p><span><a href="tel: +7   913-213-57-97"> +7   913-213-57-97</a></span>
                            </p>
                        </div>
                        <div class="contact-item__additionally-item contact-item__additionally-item_border">
                            <span><a href="mailto:info@csort.ru" class="is-email">E-mail: info@csort.ru</a></span>
                        </div>
                    </div>
                    <div class="contact-item__additionally-mobile">
                        <div class="contact-item__additionally-callback">
                            <a href="#" data-fancybox data-src="#trial" class="is-callback">Запись на пробную сортировку</a>
                        </div>

                        <div class="contact-item__additionally-callback">
                            <a href="#" data-fancybox data-src="#callback" class="is-callback">Заказ обратного звонка</a>
                        </div>
                        <div class="contact-item__additionally-callback">
                            <a href="#" data-fancybox data-src="#consultation" class="is-callback">Заявка на консультацию</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>