<div class="footer block">
    <div class="footer__wrapper block__wrapper">
        <div class="footer__info">
            <div class="footer__col footer__col_sitemap">
                <a class="footer__sitemap" href="#">
                    Карта сайта
                </a>
            </div>
            <div class="footer__col footer__col_link">
                <div class="footer__title">КАТАЛОГ ОБОРУДОВАНИЯ</div>
                <div class="footer__links">
                    <ul>
                        <li><a href="#">Линия фотосепараторов «Зоркий»</a></li>
                        <li><a href="#">Линия фотосепараторов «Оптима»</a></li>
                        <li><a href="#">Линия фотосепараторов «SEA»</a></li>
                        <li><a href="#">Нории «СиСорт»»</a></li>
                        <li><a href="#">Компрессоры</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer__col footer__col_share">
                <div class="footer__title">
                    ПРИСОЕДИНЯЙТЕСЬ К НАМ!
                </div>
                <div class="footer__social">
                    <div class="footer__social-item">
                        <a href="#"><img src="images/social/fb.png" alt="vk"></a>
                    </div>
                    <div class="footer__social-item">
                        <a href="#"><img src="images/social/vk.png" alt="vk"></a>
                    </div>
                    <div class="footer__social-item">
                        <a href="#"><img src="images/social/tw.png" alt="vk"></a>
                    </div>
                    <div class="footer__social-item">
                        <a href="#"><img src="images/social/youtube.png" alt="vk"></a>
                    </div>
                    <div class="footer__social-item">
                        <a href="#"><img src="images/social/in.png" alt="vk"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__bottom">
            <span>© 2010 – 2017, Все права защищены </span>
        </div>
    </div>
</div>