<div class="header block">
    <div class="header-top">
        <div class="header-top__wrapper block__wrapper">
            <div class="header-top__col header-top__col_left">
                <div class="header-top__logo">
                    <a class="header-top__logo-link" href="/" title="Csort"> <img class="header-top__logo-image"
                                                                                  src="images/main/logo.jpg"
                                                                                  alt="Csort"> </a>
                </div>
            </div>
            <div class="header-top__col header-top__col_right">
                <div class="header-top__info">
                    <div class="header-top__phone header-top__phone_main ">
                        <div class="header-top__phone-number">
                            <a class="header-top__phone-link" href="tel:+78002345637" title="8-800-234-56-37">
                                8-800-234-56-37 </a>
                        </div>
                        <div class="header-top__phone-desc">
                            Звонок по России бесплатный
                        </div>
                    </div>
                    <div class="header-top__phone header-top__phone_additional ">
                        <div class="header-top__phone-number">
                            <a class="header-top__phone-link" href="tel:+73852345637" title="+7 (3852) 34-56-37"> +7
                                (3852) 34-56-37 </a>
                        </div>
                        <div class="header-top__phone-desc">

                        </div>
                    </div>
                    <div class="header-top__language">
                        <div class="header-top__language-item">
                            <a target="_blank" class="header-top__language-link" href="#" title="rus"> <img
                                        class="header-top__language-image" src="images/main/ru.png" alt="rus"></a>
                        </div>
                        <div class="header-top__language-item">
                            <a target="_blank" class="header-top__language-link" href="#" title="eng"> <img
                                        class="header-top__language-image" src="images/main/en.png" alt="eng"></a>
                        </div>
                    </div>
                </div>
                <div class="header-top__desc">
                    <div class="header-top__desc-text"> Компания <b> CSort </b> - производитель и
                        <br>
                        официальный партнер ведущих мировых
                        <br>
                        производителей фотосепараторов
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="header-bottom__wrapper block__wrapper">
            <div class="navigation">
                <div class="navigation__list">
                    <a href="/company.html" class="navigation__list-item" title="О КОМПАНИИ">
                        <span title=""> О КОМПАНИИ</span>
                    </a>
                    <a href="#" class="navigation__list-item navigation__list-item_active" title="ТЕХНОЛОГИЯ">
                        <span> ТЕХНОЛОГИЯ</span>
                    </a>
                    <a href="/catalog.html" class="navigation__list-item" title="КАТАЛОГ ОБОРУДОВАНИЯ">
                        <span> КАТАЛОГ ОБОРУДОВАНИЯ</span>
                    </a>
                    <a href="/sort-product.html" class="navigation__list-item" title="СОРТИРУЕМЫЕ ПРОДУКТЫ">
                        <span> СОРТИРУЕМЫЕ ПРОДУКТЫ</span>
                    </a>
                    <a href="/news.html" class="navigation__list-item" title="НОВОСТИ">
                        <span> НОВОСТИ</span>
                    </a>
                    <a href="/contact.html" class="navigation__list-item" title="КОНТАКТЫ">
                        <span> КОНТАКТЫ</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="header-mobile">
        <div class="header-mobile__top">
            <div class="header-mobile__top-col header-mobile__top-col_left">
                <div class="header-mobile__language">
                  <div class="header-mobile__language"><a href="#" target="_blank" class="header-mobile__language-link"> En</a></div>
                </div>
            </div>
            <div class="header-mobile__top-col header-mobile__top-col_right">
                <div class="header-mobile__phone">
                    <a href="tel:+78003245637" class="header-mobile__phone-link">8-800-234-56-37</a>
                    <div class="header-mobile__phone-desc">
                        Звонок по РФ бесплатный
                    </div>
                </div>
            </div>
        </div>
        <div js-header-mobile-middle class="header-mobile__middle">
            <div class="header-mobile__middle__col header-mobile-middle__col_left">
                <a href="" class="header-mobile__logo-link"> <img class="header-mobile__logo-image"
                                                                  src="images/main/logo-mobile.png" alt=""> </a>
            </div>
            <div class="header-mobile__middle__col header-mobile__middle-col_middle">
                <div class="header-mobile__title">
                    Каталог оборудования
                </div>
            </div>
            <div js-burger
                 class="header-mobile__middle__col header-mobile__middle-col_right">
                <div class="header-mobile__burger">
                    <div class="header-mobile__burger-item"></div>
                </div>
            </div>
        </div>
        <div js-burger-siderbar class="header-mobile__sidebar">
            <div class="header-mobile__sidebar-section header-mobile__sidebar-section_title">
                <div class="header-mobile__sidebar-img">

                </div>
                <div js-close-mobile-sidebar class="header-mobile__sidebar-close">

                </div>
            </div>
            <div class="header-mobile__sidebar-section header-mobile__sidebar-section_menu">
                <div class="navigation-mobile">
                    <div class="navigation-mobile__list">
                        <a href="/company.html" class="navigation-mobile__list-item navigation-mobile__list-item_active"
                           href="#"> <span> О компании</span></a>
                    </div>
                    <div class="navigation-mobile__wrapper">
                        <a href="#" class="navigation-mobile__list-item" href="#"> <span> Технология</span></a>
                    </div>
                    <div class="navigation-mobile__wrapper">
                        <a href="/catalog.html" class="navigation-mobile__list-item" href="#"> <span> Каталог оборудования</span></a>
                    </div>
                    <div class="navigation-mobile__wrapper">
                        <a href="/sort-product.html" class="navigation-mobile__list-item" href="#"> <span> Сортируемые продукты</span></a>
                    </div>
                    <div class="navigation-mobile__wrapper">
                        <a href="/news.html" class="navigation-mobile__list-item" href="#"> <span> Новости</span></a>
                    </div>
                    <div class="navigation-mobile__wrapper">
                        <a href="/contact.html" class="navigation-mobile__list-item" href="#">
                            <span> Контакты</span></a>
                    </div>
                    <div class="navigation-mobile__wrapper">
                        <a href="/contact.html" class="navigation-mobile__list-item" href="#">
                            <span> Go to ENG version site</span></a>
                    </div>
                </div>
            </div>
            <div class="header-mobile__sidebar-section">

            </div>
        </div>
    </div>
</div>