<div class="mobile-review-item mobile-review__list-item">
    <div class="mobile-review-item__content">
      <div class="mobile-review-item__content-title"><span>Отзыв 1</span></div>
        <div class="mobile-review-item__content-image">
        <a data-fancybox data-src="https://www.youtube.com/embed/OycrOYSJmv8?autoplay=1&rel=0" href="#">
            <img js-mobile-review src="images/temp/review.jpg" data-src-image="/images/temp/review.jpg" data-src-gif="/images/temp/review.gif" alt="">
        </a>
        </div>
        <div class="mobile-review-item__content-desc"><span>Краткое описание отзывы</span></div>
    </div>
</div>