<div js-mobile-fixed-button class="mobile-fixed-button {{ class }}">
    <div class="mobile-fixed-button__item">
        <button data-fancybox data-src="{{ src }}" class="button button_mobile-fixed"> <span> {{ text }} </span></button>
    </div>
</div>