<div class="mobile-review">
    <div class="mobile-review__title">
        <span>Видео отзывы</span>
    </div>
    <div class="mobile-review__list">
        {% include 'mobile-review-item.twig' %}
        {% include 'mobile-review-item.twig' %}
        {% include 'mobile-review-item.twig' %}
        {% include 'mobile-review-item.twig' %}
    </div>
</div>