<div class="modal" id="trial" style="display: none;">
    <div class="modal__wrapper">
        <div class="modal__header modal__header_price">
            Запись на тестовую сортировку
        </div>
        <div js-content-main class="modal__content">
            <form js-form action="#">
                <div js-form-row class="modal__row">
                    <div class="modal__grid modal__grid_label">
                        <span> Ваше ФИО</span>
                    </div>
                    <div class="modal__grid modal__grid_input">
                        <input name="product" type="text" hidden value="продукт">
                        <input name="personal" js-form-required type="text">
                    </div>
                </div>
                <div js-form-row class="modal__row">
                    <div class="modal__grid modal__grid_label">
                        <span> E-mail</span>
                    </div>
                    <div class="modal__grid modal__grid_input">
                        <input name="email" js-form-required type="text">
                    </div>
                </div>
                <div js-form-row class="modal__row">
                    <div class="modal__grid modal__grid_label">
                        <span> Телефон <sup>*</sup> </span>
                    </div>
                    <div class="modal__grid modal__grid_input">
                        <input name="phone" js-form-required type="text">
                    </div>
                </div>

                <div js-form-row class="modal__row">
                    <div class="modal__grid modal__grid_label">
                        <span> Опишите,  в чем состоитзадача сортировки(продукт, загрязнитель <sup>*</sup> </span>
                    </div>
                    <div class="modal__grid modal__grid_input">
                        <textarea name="comment" js-form-required type="text"></textarea>
                    </div>
                </div>


                <div js-form-row class="modal__row modal__row_button">
                    <div class="modal__grid modal__grid_button">
                        <button type="submit" class="button button_form">Отправить</button>
                    </div>
                </div>
            </form>
        </div>
        <div js-content-succes class="modal__content modal__content_hidden">
            <div js-form-row class="modal__row">
                <div class="modal__grid modal__grid_success">
                    <span> Спасибо за заявку</span>
                </div>
            </div>
        </div>
        <div class="modal__footer">
            <span>
                Мы уверены в высокой точности работы фотосепараторов и
                готовы продемонстрировать её Вам.
                Отправьте нам Ваш неочищенный продукт, и мы проведем тестовую
                сортировку на выбранном Вами фотосепараторе.
                Таким образом, Вы получите возможность оценить эффективность
                фотосортировки именно Вашего продукта. </span>
        </div>
    </div>
</div>

<div class="modal" id="callback" style="display: none;">
    <div class="modal__wrapper">
        <div class="modal__header modal__header_price">
            Для заказа консультации, пожалуйста, заполните поля формы
        </div>
        <div js-content-main class="modal__content">
            <form js-form action="#">
                <div js-form-row class="modal__row">
                    <div class="modal__grid modal__grid_label">
                        <span> Ваше ФИО</span>
                    </div>
                    <div class="modal__grid modal__grid_input">
                        <input name="personal" js-form-required type="text">
                    </div>
                </div>
                <div js-form-row class="modal__row">
                    <div class="modal__grid modal__grid_label">
                        <span><sup>*</sup>  Удобные для Вас дата и время (по Москве) звонка:</span>
                    </div>
                    <div class="modal__grid modal__grid_input">
                        <input name="time" js-form-required type="text">
                    </div>
                </div>

                <div js-form-row class="modal__row">
                    <div class="modal__grid modal__grid_label">
                        <span> Телефон <sup>*</sup> </span>
                    </div>
                    <div class="modal__grid modal__grid_input">
                        <input name="phone" js-form-required type="text">
                    </div>
                </div>

                <div js-form-row class="modal__row">
                    <div class="modal__grid modal__grid_label">
                        <span> Какой вопрос Вас интересует <sup>*</sup> </span>
                    </div>
                    <div class="modal__grid modal__grid_input">
                        <textarea name="comment" js-form-required type="text"></textarea>
                    </div>
                </div>

                <div js-form-row class="modal__row modal__row_button">
                    <div class="modal__grid modal__grid_button">
                        <button type="submit" class="button button_form">Отправить</button>
                    </div>
                </div>
            </form>
        </div>
        <div js-content-succes class="modal__content modal__content_hidden">
            <div js-form-row class="modal__row">
                <div class="modal__grid modal__grid_success">
                    <span> Спасибо за заявку</span>
                </div>
            </div>
        </div>
        <div class="modal__footer">
            <span> Оставьте Ваши координаты и мы свяжемся с Вами в ближайшее время </span>
        </div>
    </div>
</div>

<div class="modal" id="consultation" style="display: none;">
    <div class="modal__wrapper">
        <div class="modal__header modal__header_price">
            Уточнить цену на OPTIMA NEW 3
        </div>
        <div js-content-main class="modal__content">
            <form js-form action="#">
                <div js-form-row class="modal__row">
                    <div class="modal__grid modal__grid_label">
                        <span> Тема консультации</span>
                    </div>
                    <div class="modal__grid modal__grid_input modal__grid_select">
                        <select name="consultation" nice-select js-form-required name="" id="">
                            <option value="Вариант 1" selected> Вариант 1</option>
                            <option value="Вариант 2"> Вариант 2</option>
                            <option value="Вариант 3"> Вариант 3</option>
                            <option value="Вариант 4"> Вариант 4</option>
                            <option value="Вариант 5"> Вариант 5</option>
                        </select>
                    </div>
                </div>
                <div js-form-row class="modal__row">
                    <div class="modal__grid modal__grid_label">
                        <span> Ваше ФИО</span>
                    </div>
                    <div class="modal__grid modal__grid_input">
                        <input name="personal" js-form-required type="text">
                    </div>
                </div>
                <div js-form-row class="modal__row">
                    <div class="modal__grid modal__grid_label">
                        <span> E-mail</span>
                    </div>
                    <div class="modal__grid modal__grid_input">
                        <input name="email" js-form-required type="text">
                    </div>
                </div>
                <div js-form-row class="modal__row">
                    <div class="modal__grid modal__grid_label">
                        <span> Телефон <sup>*</sup> </span>
                    </div>
                    <div class="modal__grid modal__grid_input">
                        <input name="phone" js-form-required type="text">
                    </div>
                </div>
                <div js-form-row class="modal__row">
                    <div class="modal__grid modal__grid_label">
                        <span> Примечание или ваш вопрос <sup>*</sup> </span>
                    </div>
                    <div class="modal__grid modal__grid_input">
                        <textarea name="comment" js-form-required type="text"></textarea>
                    </div>
                </div>
                <div js-form-row class="modal__row modal__row_button">
                    <div class="modal__grid modal__grid_button">
                        <button type="submit" class="button button_form">Отправить</button>
                    </div>
                </div>
            </form>
        </div>
        <div js-content-succes class="modal__content modal__content_hidden">
            <div js-form-row class="modal__row">
                <div class="modal__grid modal__grid_success">
                    <span> Спасибо за заявку</span>
                </div>
            </div>
        </div>
        <div class="modal__footer">
            <span> Оставьте Ваши координаты и мы свяжемся с Вами в ближайшее время </span>
        </div>
    </div>
</div>