
<div class="sort-product__nav {{ class }}">
    <div class="sort-product__nav-title">
        {{ title }}
    </div>
    <div class="sort-product__nav-list">
            <div class="sort-product__nav-item">
                <div class="sort-product__nav-link">
                    <a href="#"> Рис </a>
                </div>
                <div class="sort-product__nav-link">
                    <a href="#"> Гречка </a>
                </div>
                <div class="sort-product__nav-link">
                    <a href="#"> Фасоль </a>
                </div>
                <div class="sort-product-mobile sort-product__nav-mobile">
                    <div class="sort-product-mobile__title">
                        <div class="sort-product-mobile__title-left">
                            {{ title }}
                        </div>
                    </div>
                    <div class="sort-product-mobile__list">
                        <a href="#" target="_blank" class="sort-product-mobile__item">
                            <div class="sort-product-mobile__item-image"
                                 style="background-image: url('images/main/sort1.jpg')">
                                <div class="sort-product-mobile__item-label">Рис</div>
                            </div>
                        </a>
                        <a href="#" target="_blank" class="sort-product-mobile__item">
                            <div class="sort-product-mobile__item-image"
                                 style="background-image: url('images/main/sort2.jpg')">
                                <div class="sort-product-mobile__item-label">Гречка</div>
                            </div>
                        </a>
                        <a href="#" target="_blank" class="sort-product-mobile__item">
                            <div class="sort-product-mobile__item-image"
                                 style="background-image: url('images/main/sort3.jpg')">
                                <div class="sort-product-mobile__item-label">Фасоль</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
    </div>
</div>