<div class="video__list-section">
    <div class="video-item video__list-item">
        <div class="video-item__title"><span>{{ video }}</span></div>
        <div class="video-item__content">
            <iframe src="{{ src }}" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
</div>