.article {
  display flex
  margin-bottom 15px
  padding-bottom 15px
  border-bottom 1px dashed $color-main
  &__images {
    flex 0 140px
    max-width 140px
    display flex
    justify-content flex-start
    align-items flex-start
    +do(650) {
      display none
    }
    img {
      display block
    }
  }
  &__info {
    flex 1
    &-top {
      +do(650) {
        display flex
        align-items flex-start
      }
      &-image {
        display none
        +do(650) {
          display block
          flex 0 0 80px
          margin-right 5px
          img {
            max-width 80px
          }
        }
      }
      &-wrapper {
        flex 1
      }
    }
    &-date {
      color $color-orange
      margin-bottom 5px
      padding-left 20px
      box-sizing border-box
      +do(650) {
        padding-left 0
      }
    }
    &-title {
      box-sizing border-box
      padding-left 20px
      margin-bottom 10px
      +do(650) {
        padding-left 0
      }
      h2 {
        margin 0
        font-size 14px
        color $color-gray4
        font-weight 700
      }
      a {
        color $color-gray9
        text-decoration none
        &:hover {
          border-bottom 1px solid $color-gray9
        }
      }
      i {
        background-size contain
        background-image url('../images/main/arrow-link-black.jpg');
        background-repeat no-repeate
        background-position center
        display inline-block
        width 18px
        height 7px
      }
    }
    &-desc {
      [aria-label] {
        display none
        color $color-black
        text-decoration none
        margin-top 10px
        &:hover {
          color $color-red
        }
      }
      p {
        &:last-child {
          margin-bottom 0
        }
      }

    }
    &-link {

    }
  }
}