.aside {
  flex 0 245px
  box-sizing border-box
  &_left {
    padding-right 40px
  }
  &_news {
    +do(900) {
      display none
    }
  }
  &_label {
    +do(650) {
      display none
    }
  }
  &_right {
    padding-left 40px
  }
}