.award {
  &__title {
    margin-bottom 20px
  }
  &__list {
    &-top {
      display flex
      justify-content center
      margin-bottom 15px
    }
    &-main {
      display flex
      justify-content space-around
      flex-flow row wrap
      box-sizing border-box
      padding 0 50px
    }
    &-item {
      padding 5px
      background-color $color-white
      border-radius 5px
      display block
      border 1px solid $color-gray14
      margin-bottom 20px
      img {
        max-width 165px
      }
      &_main {
        img {
          max-width 300px
        }
      }
    }
  }

}