.bonus {
  display flex
  flex-flow row wrap
  +do(900) {
    display block
  }
  &__item {
    flex 0 370px
    display flex
    margin-right 30px
    margin-bottom 30px
    &_company {
      flex 0 320px
    }
    +do(900) {
      margin-right 0
    }
    &-img {
      flex 0
      flex-basis 65px
      display flex
      justify-content center
      align-items center
      margin-right 15px
      img {
        display block
      }
    }
    &-info {
      flex 1
    }
    &-title {
    }
    &-desc {
    }
  }
}