.breadcrumbs {
  margin-bottom 25px
  +do(650) {
    margin-bottom 15px
    display none
  }
  .is-active {
    color $color-red
  }
  .is-callback {
    a {
      color: $color-red
      border-bottom 2px solid $color-gray2
      &:hover {
        border-color $color-red
      }
      +do(650) {
        &:first-child {
          margin-top 15px
        }
        display block;
        margin-bottom 5px
      }
    }
  }
  ul {
    list-style none
    margin 0
    li {
      display inline-block
      margin-right 5px
      &:last-child {
        margin-rightr 0
      }
      a {
        font-size 14px
        font-family $font-myriad
        color $color-lgray2
        &:hover {
          color $color-red
        }

      }
      span {
        font-size 14px
        font-family $font-myriad
        color $color-lgray2
      }
      i {
        margin-right 3px
        display inline-block
        background-size contain
        background-position center
        background-repeat no-repeat
        background-image url('../images/main/active-sub-menu.jpg')
        width 16px
        height 7px
      }
    }
  }
}