.button::-moz-focus-inner {
  padding 0
  border 0
}

.button {
  -webkit-tap-highlight-color rgba(black, 0)
  outline none
  box-sizing border-box
  vertical-align top
  display inline-block
  position relative
  padding 10px 10px 10px 10px
  font-family $font-myriad
  font-size 20px
  font-style normal
  line-height 1
  letter-spacing 0
  text-align center
  text-transform none
  text-decoration none
  border none
  user-select none
  cursor pointer
  background-color $color-red
  font-weight 400
  color $color-white
  transition .3s
  transition-property border-color, background-color, opacity
  &_contact {
    padding 10px 20px 10px 20px
    font-size 16px
    transform skew(-15deg)
    margin-right 10px
    margin-bottom 10px
    +do(900) {
      transform skew(0)
    }
    span {
      transform skew(15deg)
      +do(900) {
        transform skew(0)
      }
    }
    &-first {
      position relative
      padding-left 30px
      +do(900) {
        padding-left 20px
      }
      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: -5px;
        width: 10px;
        background-color: #fff;
        transform: skew(15deg);
        +do(900) {
          display none
        }
      }
    }
  }
  &_form {
    border-radius 5px
    font-size 14px
    padding 15px
    +do(650) {
      width 100%
      font-size 18px
      text-align center
    }
    &:hover {
      background-color $color-dred
    }
  }
  &_next {
    padding 10px 15px
    font-size 14px
    transform translate3d(0, 0, 0) skew(-15deg)
    background-color $color-gray2
    &:hover {
      background-color rgba($color-gray2, 0.9)
    }
  }
  &_mobile-fixed {
    opacity 0.9
    font-size 20px
    padding 12px
    font-weight bold
    background-color rgba($color-red)
    position relative
    width 70vw
    box-sizing border-box
    padding-left 10px

    &:before {
      content ''
      position absolute
      top 0
      bottom 0
      width 30px
      background-color rgba($color-red)
      transform skew(-15deg)
      left -20px
    }
    span {
      opacity 1
      border-bottom 1px solid $color-white
    }

  }
  &_price {
    padding 5px 50px 8px 8px
    +do(650) {
      text-align center
      font-size 26px
      padding 8px 50px 8px 8px
      &-mobile {
        +do(650) {
          padding 15px
          border-radius 5px
          box-shadow inset -3px -3px 1px 1px  $color-dred
        }
      }
    }
    &:hover {
      background-color rgba($color-red, 0.8)
    }
  }
  &__wrapper {
    font-family $font-myriad
    transform translate3d(0, 0, 0) skew(15deg)
  }
  &__icon {
    width 45px
    position absolute
    transform skew(-15deg)
    background-color $color-gray2
    top 0
    bottom 0
    right -10px
    overflow hidden
    +do(650) {
      background-color $color-red
    }
    &_price {
      &-mobile {
        +do(650) {
          display none !important
        }
      }
      &:before {
        content ''
        display block
        position absolute
        top 0
        bottom 0
        right 0
        left 0
        background-position center
        background-repeat no-repeat
        background-size contain
        transform skew(+ 15deg)
        background-image url('../images/main/ask-icon.png')
        +do(650) {
          display none
        }
      }
    }

    &_trial {
      &-mobile {
        +do(650) {
          display none !important
        }
      }
      &:before {
        content ''
        display block
        position absolute
        top 0
        bottom 0
        right 0
        left 0
        background-position center
        background-repeat no-repeat
        background-size contain
        transform skew(+ 15deg)
        background-image url('../images/main/check.png')
      }
    }

  }
  &:hover {

  }

  &.is-active,
  &:active {
  }

  &:disabled,
  &.is-disabled {
  }

  span {
    vertical-align middle
    display inline-block
  }
}

.button_full {
  display block
}


