.category {
  &_intro {
    flex 1
  }
  &__title {
    display flex
    justify-content space-between
    margin-bottom 20px
    font-size 20px
    font-family $font-myriad
    h2 {
      display inline-block
    }
    span {
      font-size 20px
      color $color-orange
      font-family $font-myriad
      display inline-block
      +do(650) {
        display none
      }
    }
  }
  &__item {
    flex 1
    margin-right 10px
    &:last-child {
      margin-right 0
    }
  }
  &__wrapper {
    display flex
    flex-flow row wrap

    +do(650) {
      display: block
    }
    &_catalog {
      +do(650) {
        padding: 0 30px;
      }
    }
    &_intro {
      justify-content space-between
      +do(650) {
        display flex
        flex-wrap nowrap
        overflow scroll
        margin 0 -30px
      }
    }
  }
}

.category-card {
  box-shadow 1px 1px 3px 0 $color-gray7
  border-radius 5px
  overflow hidden
  transition .3s
  transition-property box-shadow, transform
  +do(650) {
    margin 0 auto
    margin-bottom 15px
  }
  &:hover {
    transform translateY(-3px)
    box-shadow 1px 1px 7px 0 $color-gray7
  }

  &_intro {
    flex-shrink 1
    flex-grow 1
    +do(650) {
      max-width 230px
      flex 0 0 230px
      margin-right 15px
    }
  }
  &_video {
    +do(650) {
      display none
    }
  }
  &__wrapper {

  }

  &__image {
    position
    background no-repeat content center
    img {
      width 100%
      max-width 230px
      max-height 300px
      +do(650) {
        max-width 360px
        margin 0 auto
        display block
      }
    }
    &-video {
      position relative
    }
  }
  &__play {
    svg('youtube', 60px)
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    transition .3s
    &:hover {
      svg('youtube', 75px)
    }
  }
  &__title {
    padding 8px 14px 8px 14px
    background-color $color-gray8
    color $color-white
    font-weight 700
  }
  &__desc {
    box-sizing border-box
    padding 8px 14px 8px 14px
    span {
      font-size 14px
      color $color-gray
      font-family $font-myriad
      text-decoration none
      display inline-block
      +do(650) {
        font-size 18px
      }
    }
    i {
      display inline-block
      height 8px
      width 25px
      background-position center
      background-repeat no-repeat
      background-size contain
      background-image url("../images/main/arrow-link.jpg")
    }
  }
}