.content {
  display flex
  flex-direction: column
  flex-grow 1

  +do(650) {
    margin-top 100px
    padding 0
  }
  &__wrapper {
    flex-grow 1
    width 100%
    padding-bottom 25px
    background-color $color-white
  }
  &__section {
    &_intro {
      display flex
      flex-flow row wrap
      +do(650){
       display block
      }
    }
    &_main {
      display flex
      flex-flow row wrap
      margin-top 15px
    }
  }
  &__main {
    padding-top 15px
    padding-left 20px
    padding-right 20px
    box-sizing border-box
  }
}