.contact {
  font-family $font-myriad
  color $color-gray15
  &__buttons {
    margin-bottom 20px

  }
  p {
    margin-bottom 0
  }
  &__title {
    position relative
    margin-bottom 15px
    span {
      font-size 14px
    }
    a {

    }
    &:after {

    }
  }
  &__list {
    margin 0 -20px
    overflow hidden
    +do(650) {
      display flex
      flex-flow row nowrap
      overflow-x scroll
    }
    &-item {
      padding 30px 20px
      position: relative
      box-shadow 0 -5px 16px -6px $color-gray7
      margin-bottom 30px
      +do(650) {
        box-shadow none
        margin-bottom 25px
        padding 5px
        flex 0 0 230px
        margin-right 20px
      }
    }
  }
  &-item {

    +do(650) {
      display block
      padding-bottom 25px
      border-bottom 1px solid $color-gray14
    }
    display flex
    &__image {
      flex 0 230px
      margin-right 10px
      overflow hidden
      box-shadow 1px 1px 3px 0 $color-gray7
      border-radius 5px
      display flex
      justify-content flex-start
      align-items flex-start
      +do(650) {
        margin-right 0
        margin-bottom 15px
      }
      img {
        max-width 230px
        display block
        +do(650) {
          margin 0 auto
          max-width 230px
        }
      }
    }
    &__desc {
      flex 1
      display flex
      align-items flex-end
      max-width 700px
      box-sizing border-box
      &-wrapper {
        flex 1
        flex-basis 100%
      }
    }
    &__info {
      box-sizing border-box
      padding-left 15px
      &-name {
        font-size 20px
        margin-bottom 5px
      }
      &-work {
        font-size 14px
      }
    }
    &__additionally {
      font-size 14px
      margin-top 20px
      overflow hidden
      background-color $color-lgray
      padding 10px
      position relative
      padding-left 15px
      padding-right 50px
      +do(1000) {
        padding-right 15px
      }
      &:before {
        content ''
        display block
        position absolute
        top 0
        bottom 0
        right 0
        background-size: contain
        background-position: center
        background-repeat no-repeat
        width: 0;
        height: 0;
        border-bottom: 180px solid $color-white;
        border-left: 50px solid transparent;
        +do(1000) {
          display none
        }
      }
      &-address {
        margin-bottom 20px
        .is-city {
          font-weight 700%
          color $color-orange
        }
        .is-street {

        }
      }
      &-list {
        display flex
        flex-flow row wrap
        margin-top 25px
        +do(1000) {
          display block
        }
      }
      &-item {
        box-sizing border-box
        flex 1
        padding-left 15px
        padding-right 5px
        +do(1000) {
          padding-left 0
          margin-bottom 15px
        }
        &:first-child {
          padding-left 0

        }
        p {

        }
        .is-email {
          color $color-red
          border-bottom 1px solid $color-red
          +do(1000) {
            border none
          }
        }
        &_border {
          border-left 1px solid $color-gray20
          +do(1000) {
            border none
          }
        }
      }
      &-mobile {
        display none
        +do(650) {
          display block
        }
      }
      &-callback {
        margin-bottom 10px
        a {
          text-decoration none
          font-size 16px
          color $color-red
          border-bottom 1px solid $color-red
        }
      }
    }

  }

}