.bwg_title_spun2_0 {
  color black !important
  font-size 16px !important
  font-weight 400 !important
  text-overflow ellipsis
  display block !important
  background-color rgba(white, 0.7) !important
}

#bwg_container1_0 {
  width 100% !important
}

.bwg_back_0 {
  margin-bottom 15px !important
}

.bwg_img_custom {
}

.bwg_album_thumb_spun2_0 {
  width 160px !important
  img {
    width 100% !important
  }
}

.bwg_album_thumb_spun1_0 {
  width 160px !important
}