.header {
  box-sizing border-box
  +do(650) {
    padding 0
  }
  &-top {
    position relative
    +do(650) {
      display none
    }
    &:before {
      content ''
      display block
      position absolute
      top 0
      right -20px
      bottom 0
      left -20px
      background-color $color-header-top
      z-index 1
      box-shadow 0px 8px 15px -5px rgba($color-dgray, 0.7)
    }
    &__wrapper {
      box-sizing border-box
      padding 10px 20px 10px 20px
      background-color $color-white
      position relative
      z-index 2
      display flex
      flex-flow row wrap
      &:before {
        content ''
        display block
        position absolute
        top 0
        bottom 0
        width 25px
        left -25px
        background-size cover
        background-position center
        background-repeat no-repeat
        background-image url('../images/main/left-header-before.png')
      }
      &:after {
        content ''
        display block
        position absolute
        top 0
        bottom 0
        width 25px
        right -25px
        background-size cover
        background-position center
        background-repeat no-repeat
        background-image url('../images/main/right-header-before.png')
      }
    }
    &__col {
      &_left {
        box-sizing border-box
        flex 1
        display flex
        justify-content space-between
      }
      &_right {
        flex 0 450px
      }
    }
    &__logo {
      margin-top 15px
      padding-right: 15px;
      box-sizing: border-box;
      &-image {
        width 100%
        max-width 160px
        max-height 80px
      }
    }
    &__info {
      margin-top 19px
      display flex
      flex-flow row wrap
    }
    &__phone {
      box-sizing border-box
      flex 0 180px
      font-size 16px
      line-height 1.5
      padding-left 10px
      position relative
      &:before {
        content ''
        display block
        position absolute
        top 0
        bottom 0
        left 0
        width 1px
        background-size cover
        background-position center
        background-repeat no-repeat
        background-image: url('../images/main/phone-line.jpg')
      }
      &_main {

      }
      &_additional {

      }

      &-link {
        font-family $font-myriad
        font-weight 700
        font-size 18px
        color $color-lgray2
        &:hover {
          color $color-lred
        }
      }
      &-number {

      }
      &-desc {
        color $color-lgray2
        font-weight normal
        font-size 11px
      }
    }
    &__language {
      flex 1
      display flex
      flex-flow row wrap
      justify-content flex-end
      &-item {
        margin-right 5px
        &:last-child {
          margin-right 0
        }
      }
      &-link {

      }
      &-image {
        width 100%
        max-width 21px
        max-height 16px
      }

    }
    &__desc {
      box-sizing border-box
      padding-right 10px
      +do(1050) {
        display none
      }
      &_mobile {
         display none
        +do(1050) {
          display block
          padding-left 0
        }
      }
      &-text {
        margin-top 25px
        font-family $font-myriad
        font-size 14px
        margin-bottom 0
      }
    }
  }
  &-bottom {
    +do(650) {
      display none
    }
    &__wrapper {
      position relative
      z-index 1
    }
  }
}

.header-mobile {
  display none
  width 100%
  height 100px
  position fixed
  z-index 16
  +do(650) {
    display block
  }
  &__phone {
    text-align right
    font-family $font-myriad
    &-link {
      color $color-lgray2
      font-size 17px
      font-weight 700
    }
    &-desc {
      font-size 12px
    }
  }
  &__language {
    display flex
    flex-flow row nowrap
    align-items center
    &-item {
      flex 0 auto
      padding 3px
      margin-right 5px
    }
    &-link {
      font-size 18px
      font-weight 700
      opacity 0.75
      color $color-gray2
      &_active {
        color $color-black
        opacity 1
      }
    }
  }
  &__logo {
    &-link {
    }
    &-image {
      height 50px
      width auto
    }
  }
  &__top {
    height 50px
    display flex
    flex-flow row nowrap
    background-color $color-gray4
    padding 10px
    box-sizing border-box
    line-height 1
    &-col {
      flex 1
      &_right {

      }
      &_left {
        display flex
        align-items center
      }
    }
  }
  &__title {
    text-align left
    color $color-white
    font-family $font-myriad
    font-size 14px
  }
  &__burger {
    height 20px
    width 25px
    display flex
    justify-content center
    align-items center
    &-item {
      flex 1 100%
      height 3px
      background-color $color-white
      position relative
      &:before {
        content ''
        position absolute
        left 0
        right 0
        height 3px
        background-color $color-white
        top -7px

      }
      &:after {
        content ''
        position absolute
        left 0
        right 0
        height 3px
        background-color $color-white
        bottom -7px
      }
    }
  }
  &__middle {
    height 50px
    display flex
    flex-flow row nowrap
    background-color $color-gray2
    &_hide {
      display none
    }
    &-col {
      &_left {
        flex 0 125px
      }
      &_middle {
        flex 1
        box-sizing border-box
        padding 10px 10px
        display flex
        justify-content center
        align-items center
        overflow hidden
      }
      &_right {
        flex 0
        flex-basis 50px
        max-width 50px
        display flex
        justify-content center
        align-items center
        border-left 2px solid $color-gray5
        box-sizing border-box
        cursor pointer
      }
    }
  }
  &__sidebar {
    height: 100vh;
    width: 100vw;
    box-sizing border-box
    padding 10px
    background-color: $color-gray2
    position: absolute;
    transform translate3d(-110%, 0, 0)
    transition .3s
    transition-property transform
    z-index 5
    &-img {
      flex 0 25px
      position relative
      svg('arrow', 25px, $color-white)
      cursor pointer
      &:before {
        content ''
        position absolute
        svg('arrow', 25px, $color-gray6)
        left -10px
      }
    }
    &-close {
      flex 0 20px
      position relative
      svg('cross', 20px, $color-white)
      cursor pointer
      margin-right 5px
    }
    &-section {
      &_title {
        display flex
        flex-flow row nowrap
        justify-content space-between
        box-sizing border-box
        padding-left 10px
        font-size 24px
        font-family $font-myriad
        font-weight bold
        color $color-gray
        text-align center
      }
    }
    &_open {
      transform translate3d(0, 0, 0)
    }
  }

}