.info-page {
  &__title {
    margin-bottom 15px
  }
  &__wrapper {
    display flex
    +do(650) {
      display block
    }
  }
  &__main {
    flex 1
  }
  &__aside {
    flex 0 220px
    max-width 220px
    box-sizing border-box
    padding 0 15px
    +do(650) {
      padding 0 30px
      max-width 100%
    }
    &-image {
      +do(650) {
        display none
      }
      margin-bottom 20px
      img {
        max-width 220px
      }
    }
  }
  &__bonus {
    margin-top 15px
  }
  &__vacancies {

  }
  &__resume {
    padding 0
    margin 15px 0
  }
}