input:-webkit-autofill {
  color $color-main !important
  background-color transparent !important
}

input[type=text] {
  -webkit-appearance none
  transition all .2s ease-in-out
  box-sizing border-box
  width 100%
  min-height 1em
  padding 5px 15px 5px
  border 1px solid $color-gray18
  box-shadow none
  font-family $font-myriad
  background #fff
  color $color-black
  font-weight 500
  font-size 14px
  line-height 1.5
  border-radius 5px
  &:focus {

  }
}

form sup {
  font-family arial
  color $color-red
  font-size 14px
}

form .is-error input {
  border 1px solid $color-red
}

form .is-error span {
  color $color-red
}

form .is-error textarea {
  border 1px solid $color-red !important
}

input[type='number'],
input[type='email'],
input[type='tel'],
input[type='search'],
input[type='url'],
input[type=password],
textarea {
  @extend input[type=text]
}

textarea {
  resize vertical
  min-height 80px
}

.input {
  display block
  margin-bottom 15px
  &__label {
    display block
    margin-bottom .25em
    padding-left 20px
    font-weight 500
    font-size 16px
  }
  &__field {
    display block
    position relative
    &-self {
    }
  }
}

