.label {
  &__title {
    padding-bottom 15px
    border-bottom 1px dotted $color-gray
    margin-bottom 15px
  }
  &__wrapper {
    border-bottom 1px dotted $color-gray
  }
  &__desc {
    span {
      color $color-gray9
      font-size 11px
      text-decoration none
    }
    ul {
      margin-top 10px
      margin-bottom 15px
      list-style none
      li {
        margin-bottom 3px
        position relative
        box-sizing border-box
        padding-left 15px
        &:before {
          content ''
          display block
          position absolute
          background-size contain
          background-image url('../images/main/list-mark.jpg');
          background-repeat no-repeate
          background-position center
          left 0
          width 10px
          height 6px
          top 7px
        }
        a {
          color $color-gray9
          font-size 11px
          border-bottom 1px solid $color-gray9
          &:hover {
            border-bottom none
          }
        }
      }
    }
  }
  &__link {
    margin-top 15px
    a {
      color $color-red
      text-decoration none
      border-bottom 1px solid $color-red
      &:hover {
        border-bottom none
      }
    }
  }
}