.body {
  &__wrapper {
    overflow hidden
    background-color $color-lgray
  }
}

.block {
  block()
  +do(580) {

  }
  &__wrapper {
    block-wrapper()
  }
}

.main {
  flex 1
}

.error-message {
  font-size 18px
  font-weight 700
  margin-bottom 25px
}

.nice-select .option {
  text-overflow ellipsis
  overflow hidden
}