.mobile-review {
  margin 15px
  display none
  +do(650) {
    display block
  }
  &__title {
    font-size 24px
    font-family $font-myriad
    font-weight 700
    margin-bottom 15px
  }
  &__list {

    &-item {
      margin-bottom 20px
    }
  }
  &-item {
    &__content {
      &-title {
        font-size 18px
        font-weight bold
      }
      &-image {
        margin 10px -35px
        img {
          max-width 650px
          width 100%
          height auto
        }
      }
      &-desc {
        font-size  16px
      }
    }
  }
}