.mobile-fixed-button {
  display none
  +do(650) {
    display flex

  }
  justify-content flex-end
  position fixed
  width 100%
  bottom 0
  box-sizing border-box
  background rgba($color-white, 0.9)
  visibility hidden
  z-index 15
  &_active {
    visibility visible
  }
  &__item {

  }
}