.modal {
  font-size 14px
  font $font-myriad
  color $color-white
  border-radius 10px
  background-color $color-gray19
  +do(650) {
    border-radius 0
  }
  &__header {
    position relative
    background-color $color-gray16
    padding 14px 40px 10px 25px
    &_price {
      padding 14px 40px 10px 100px
      &:before {
        content: '';
        background-size contain
        background-repeat no-repeat
        background-position center
        position absolute
        width 85px
        height 36px
        background-image url('../images/main/price-icon.png')
        top: 0;
        left: 15px;
      }
    }

  }
  &__content {
    background-color: $color-gray17
    padding 40px 40px 20px 40px
    +do(650) {
      padding 40px 20px 20px 20px
    }
    &_hidden {
      display none
    }
  }
  &__footer {
    color $color-white
    padding 15px
    font-size 14px
    text-align center
    max-width 500px
  }
  &__wrapper {
    border-radius 10px
    background-color $color-gray19
  }
  &__row {
    display flex
    margin-bottom 15px
    min-width 420px
    +do(650) {
      display block
      min-width 240px
    }
    &_button {
      justify-content flex-end
    }
  }
  &__grid {
    &_success {
      color $color-black
      flex 1
      text-align center
      font-size 18px
    }
    &_button {
      flex 0 auto
    }
    &_label {
      text-align right
      padding-right 10px
      box-sizing border-box
      flex 0 180px
      max-width 180px
      color $color-black
      +do(650) {
        max-width 100%
      }

      +do(650) {
        text-align left
        margin-bottom 5px
      }
      span {
        display inline-block
      }
    }
    &_input {
      flex 1
      input {
      }
    }
    &_select {
      color $color-black
      +do(650) {
       margin-bottom 10px
      }
      .nice-select {
        width 100%
        .list {
          width 100%
        }
      }
    }
  }
}

.fancybox-slide > * {
  padding 0 !important
}

.fancybox-close-small {
  background transparent
  &:hover {
    background transparent
  }
  &:hover:after {
    background transparent
    background-image url('../images/main/cross-icon.png')
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(90deg);

  }
  &:after {
    transition .3s
    transition-property transform
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    background transparent
    content ''
    background-size contain
    background-repeat no-repeat
    background-position center
    background-image url('../images/main/cross-icon.png')
    width 21px
    height 21px
  }
}