.navigation {
  font-family $font-myriad
  background-color $color-gray2
  box-sizing border-box
  overflow hidden
  &__list {
    display flex
    flex-flow row wrap
    &-item {
      display block
      cursor pointer
      padding 10px 20px 10px 20px
      transform skewX(-15deg)
      margin-right 10px
      &:first-child {
        margin-left -5px
        padding-left 25px
      }
      &:last-child {
        margin-right 0
      }
      &:hover {
        background-color $color-gray3
        +do(1000) {
          background-color $color-gray2
        }
      }
      &_active {
        background-color $color-red
      }
    }
    span {
      display inline-block
      transform skewX(15deg)
      vertical-align middle
      font-size 14px
      color $color-white
      text-transform uppercase
    }
  }
}

.navigation-mobile {
  font-family $font-myriad
  &__list {
    &-item {
      display block
      padding 5px
      padding-left 30px
      color $color-white
      &_active {
        color $color-black
      }
      span {
        font-size 18px
        display inline-block
        vertical-align middle
      }
    }
  }

}