.news {
  &__wrapper {
    border-bottom 1px dotted $color-gray
  }
  &__title {
    padding-bottom 15px
    border-bottom 1px dotted $color-gray
    margin-bottom 15px
  }
  &__link {
    margin-top 15px
    a {
      color $color-red
      text-decoration none
      border-bottom 1px solid $color-red
    }
  }
  &-item {
    margin-bottom 15px
    &__title {
      &_date {
        color $color-orange
      }
    }
    &__desc {
      a {
        color $color-gray9
        font-size 11px
        text-decoration none
        &:hover {
          text-decoration underline
        }
      }
      i {
        background-size contain
        background-image url('../images/main/arrow-link-black.jpg');
        background-repeat no-repeate
        background-position center
        display inline-block
        width 18px
        height 7px
      }
    }
  }
}