.pagination {
  &__item {
    display inline-block
    padding 0px 5px
    line-height 1
    border-right 1px solid $color-black
    a {
      line-height 1
      color $color-red
      text-decoration none
      border-bottom 1px solid $color-red
    }
    span {
      color $color-black
    }
  }
}