.photo {
  &__title {
    margin-bottom 20px

  }
  &__list {
    display flex
    flex-flow row wrap
    justify-content flex-start
    box-sizing border-box
    +do(650) {
      padding 0
      display block
    }
    &-item {
      flex 0 150px
      max-width 150px
      +do(650) {
        max-width 100%
      }
    }
  }
  &-item {
    text-decoration none
    display block
    border 1px solid $color-gray14
    background-color $color-white
    transition .3s
    margin 10px
    +do(650) {
      margin 20px 0
    }
    &:hover {
      border-color $color-red
      transform translateY(-10px)
    }
    &__content {
    }
    &__desc {
      text-align center
      font-size 16px
      color $color-red
      box-sizing border-box
      padding 3px
      margin 5px 0
      +do(650) {
        font-weight 700
        font-size 20px
      }
    }
    img {
      max-width 150px
      +do(650) {
        max-width 100%
        margin 0 auto
        max-height 100%
        display block
      }
    }
  }
}