.product-discount {
    display flex
    justify-content space-between
    align-items center
    margin-top 10px
    margin-bottom 10px
    background #f0f0f0
    padding-right 35px
    padding-left 35px
    padding-top 28px
    padding-bottom 28px
    +do(750) {
        display block
    }
    &__info {
         flex 1
         font-size 26px
         color $color-red
         +do(750) {
            font-size 20px
         }
    }
    &__action {
         margin-left 15px
         flex 0 0 auto
         +do(750) {
             margin-left 0
             margin-top 10px
             margin-bottom 10px
            .button {
                width 100%
            }
        }
        .button {
          border-radius 3px
        }
    }
}