.product {
  &__wrapper {
    display flex
    flex-flow row nowrap
    +do(650) {
      display block
    }

  }

  &__aside {
    flex 0 230px
    max-width 230px
    margin-right 10px
    +do(780) {
      flex-basis 200px
      max-width 200px
    }
    +do(760) {
      flex-basis 240px
      max-width 240px
    }
    +do(650) {
      max-width 100%
      margin-bottom 30px
      margin-right 0

    }
  }

  &__main {
    flex 1
  }
  &__title {
    margin-bottom 25px
    display block
    +do(650) {
      display none
    }
    &_mobile {
      display none
      +do(650) {
        display block
        margin-top 15px
        margin-bottom 5px
        span {
          font-size 24px
        }
      }
    }
  }
  &__section {
    &_gallery {
    }
    &_price {
      margin-top 25px
      +do(650) {
        margin-top 10px
      }
    }
    &_file {
      margin-top 25px
      margin-bottom 25px
    }
    &_hidden {
      +do(650) {
        display none
      }
    }
    &_mobile {
      display none
      +do(650) {
        display block
        margin-bottom 15px
      }
    }
  }
  &__file {
    margin-bottom 20px
    &-title {
      margin 15px 0
      font-size 16px
    }
    &-wrapper {
      display flex
      flex row nowrap
    }
    &-icon {
      flex 1
      display flex
      justify-content center
      align-items center
      img {
        display block
      }
    }
    &-link {
      flex 1
      display flex
      justify-content center
      align-items center
      a {
        display inline-block
        color $color-red
        text-decoration underline
      }
    }
  }
  &-tabs {
    &__header {
      font-family $font-myriad
      display flex
      width 100%
      box-sizing border-box
      +do(760) {
        display none
      }
      &-item {
        text-align center
        text-transform uppercase
        flex 1 0
        font-size 18px
        font-weight 700
        color $color-purple
        line-height 1
        cursor pointer
        border 3px solid $color-gray2
        padding 15px 30px
        &_video {
          +do(650) {
            display none
          }
        }
        &_active {
          border-bottom 3px solid $color-orange
          color $color-orange
        }
      }
      &-item + &-item {
        border-left none
      }
    }
    &__item {
      margin-top: 25px
      +do(760) {
        margin-top 15px
      }
      &_video {
        +do(650) {
          display none
        }
      }
    }

    &__content {
      font-size 13px
      font-weight 500
      color $color-warm-grey
      display none
      line-height (22 / 13)
      &_show {
        box-sizing border-box
        display block
        +do(760) {
          margin-bottom 25px
          padding-top 20px
          padding-bottom: 20px
          border 1px solid $color-very-light-pink-gray
          border-top none
        }
      }
    }
    &__mobile {
      &-header {
        display none
        padding 24px 0 24px 24px
        color $color-purple
        font-size 18px
        font-weight bold
        border 1px solid rgba(gray, 0.7)
        text-transform uppercase
        margin-bottom 20px
        cursor pointer
        &:nth-child(2) {
          box-shadow none
        }
        &_show {
          .product-tabs__mobile-open:before {
            content ''
            display block
            position absolute
            top 50%
            left 50%
            transform translate(-50%, -50%);
            svg('minus', 25px, $color-orange)
          }
        }
        +do(760) {
          display flex
          margin-bottom 0
        }
        &_show {

        }
        &_show .product-tabs__video-count_mobile {
          color gray
          border none
        }
      }
      &-title {
        flex 1
      }
      &-open {
        border-left 1px solid gray
        flex 0 73px
        position relative
        margin -24px 0
        &:before {
          content ''
          display block
          position absolute
          top 50%
          left 50%
          transform translate(-50%, -50%);
          svg('plus', 25px, $color-orange)
        }
      }
    }
  }

  &-gallery {
    &__item {
      img {
        max-width 230px
        width 100%
        margin 0 auto
        +do(650) {
          max-height 300px
          width auto
        }
      }
    }
    &__nav {
      margin-top 15px
      display flex
      justify-content center
      &-middle {
        width 30px
      }
      +do(780) {
        padding 0 40px
      }
      +do(760) {
        padding 0 80px
      }
      &-next {
        cursor pointer
        svg('left-arrow', 25px, $color-red)
        &:hover {
          svg('left-arrow', 25px, $color-dred)
        }
      }
      &-prev {
        cursor pointer
        svg('right-arrow', 25px, $color-red)
        &:hover {
          svg('right-arrow', 25px, $color-dred)
        }
      }
    }
  }
  &-card {
    display flex
    flex-flow row wrap
    margin-bottom 30px
    border-top 1px solid $color-gray14
    padding-top 10px
    &:first-child {
      border-top none
      padding-top 0
    }
    +do(650) {
      display block
    }
    &__col {
      &_left {
        flex 0 205px
        margin-right 15px
        +do(650) {
          margin-right 0
        }
      }
      &_right {
        flex 1
      }
    }
    &__button {
      &_next {
        margin-top 20px
        margin-bottom 20px
      }
      &_price {
        margin-top 20px
        margin-bottom 20px
      }
    }
    &__image {
      position relative
      margin-bottom 20px
      &:before {
        content ''
        transition .3s
        top 0
        bottom 0
        right 0
        left: 0
        position absolute
        background-color transparent
        pointer-events none
      }
      &:hover:before {
        position absolute
        content ''
        top 0
        bottom 0
        right 0
        left: 0
        background-color rgba($color-gray4, 0.3)
      }
      img {
        max-width 205px
        width 100%
        +do(650) {
          max-width 100%
          max-height: 250px
          width: auto;
          display block
          margin 0 auto
        }
      }
    }
    &__wrapper {
      display flex
      flex-flow row wrap
      margin-bottom 5px
      +do(650) {
        display block
      }
    }
    &__desc {
      flex 1
    }
    &__title {
      margin-bottom 15px
      +do(650) {
        display none
      }
      &_mobile {
        display none
        +do(650) {
          display block
        }
      }
    }
    &__file {
      margin-left 10px
      flex 0 120px
      +do(900) {
        display none
      }
      &-image {
        margin-bottom 5px
      }
      &-title {
        span {
          color $color-red
          font-size 12px
          text-decoration underline
          &:hover {
            text-decoration none
          }
        }
      }
    }
  }
}