.recommend {
  border-top 1px solid $color-gray14
  &__title {
    font-size 14px
    margin-bottom 20px
    margin-top 20px
  }
  &__wrapper {
    display flex
    flex-flow row wrap
    +do(900) {
      display block
    }
  }
  &__item {
    font-family $font-myriad
    color $color-gray15
    display flex
    font-size 14px
    flex 0
    flex-basis calc(50% - 20px)
    margin-right 20px
    line-height 1.2
    margin-bottom 20px
    +do(900) {
      margin-right 0
      border-bottom  1px solid $color-gray14
      padding-bottom 20px
    }
    &:nth-child(2n) {
      margin-right 0
    }
    &-image {
      display flex
      flex 0 130px
      justify-content center
      align-items center
      margin-right 10px
      +do(650) {
        flex-basis 70px
        align-items flex-start
      }
      img {
        width 100%
        display block
        max-width 130px
        +do(650) {
          max-width 70px
        }
      }
    }
    &-link {
      margin-top 5px
      span {
        color $color-red
        text-decoration underline
        &:hover {
          text-decoration none
        }
        i {
          background-size contain
          background-image url('../images/main/strelka-podrobnee.gif');
          background-repeat no-repeate
          background-position center
          display inline-block
          width 8px
          height 9px
        }
      }
    }
    &-title {
      font-weight bold
      margin-bottom 5px
    }
    &-info {
      flex 1
    }
  }

}