.slider {
  margin 0 -20px
  &_desktop {
    +do(650) {
      display none
    }
  }
  &_mobile {
    display none
    +do(650) {
      display block
    }
  }
  &__item {
    &-link {
      +do(650) {
        display block
        background-color rgba($color-gray18,0.5)
      }
    }
    &-image {
      &_desktop {
        width 100%
        max-height 185px
        +do(650) {
          display none !important
        }
      }
      &_mobile {
        display none !important

        +do(650) {
          display block !important
          height 150px
          background-size cover
          background-position center
          background-repeat no-repeat
        }
      }
    }
  }
}

.owl-dots {
  +do(650) {
    display none !important
  }
}