.sort-product {
  &__title {
    margin-bottom 15px
  }
  &__desc {
    margin-bottom 20px
    +do(650) {
      display none
    }
  }
  &__button {
    margin-bottom 30px
    +do(650) {
      display none
    }
  }
  &__wrapper {
    display flex
    flex-flow row wrap
    margin-bottom 40px
    +do(650) {
      display block
      border none !important
    }
    &_intro {
      border 1px solid $color-gray14
    }
  }
  &__aside {
    flex 0 215px
    max-width 215px
    box-sizing border-box
    padding 15px
    +do(650) {
      padding 0
    }
    &_color {
      background-color $color-yellow
      +do(650) {
        background-color transparent
      }
    }
    &_merge {
      order 1
    }
    +do(650) {
      max-width 100%
    }
  }
  &__main {
    flex 1
    &_intro {
      display flex
      +do(750) {
        display block
      }
    }
    &_hidden-mobile {
      +do(650) {
        display none
      }
    }
    &_merge {
      order 2
    }
  }
  &__nav {
    font-size 14px
    margin-bottom 15px
    &_industry {
      border-top 2px solid $color-orange
      padding-top 25px
      margin-top 25px
    }
    &-link {
      +do(650) {
        display none
      }
    }
    &-title {
      font-weight 700
      color $color-orange
      margin-bottom 15px
      +do(650) {
        text-align center
        display none
      }
    }
    &-list {
    }
    &-item {
      padding-left 20px
      margin-bottom 3px
      +do(650) {
        background-color $color-gray21
        padding 10px
        padding-left 15px
        padding-right 15px
        padding-bottom 20px
        text-align center
        margin-bottom 15px
        margin-left: -20px;
        margin-right: -20px;
        box-sizing border-box
      }
      a {
        color $color-red
        border-bottom 1px solid $color-red
        +do(650) {
          font-size 18px
          border none
          color $color-orange
        }
        &:hover {
          color $color-orange
        }
      }
    }
  }
  &__intro {
    padding 25px
    flex 1
    +do(650) {
      padding 25px 0
    }
    &-title {
      margin-bottom 15px
    }
    &_hidden-mobile {
      +do(650) {
        display none
      }
    }
  }
  &__decor-image {
    flex 0 170px
    +do(900) {
      display none
    }
    img {

    }
  }

  &__cards {
    display flex
    flex-flow row wrap
    margin-bottom 15px
    +do(750) {
      justify-content center
    }
    +do(650) {
      justify-content flex-start
      display flex
      flex-wrap nowrap
      overflow scroll
      align-items flex-start
    }
  }
  &__card {
    display block
    box-shadow 1px 1px 3px 0 $color-gray7
    background-color $color-white
    border-radius 5px
    flex 1 211px
    max-width 211px
    margin-bottom 20px
    margin-right 20px
    color $color-main
    text-decoration none
    overflow hidden
    +do(900) {
      max-width 190px
      flex-basis 190px
      &:nth-child(2n) {
        margin-right 0
        +do(750) {
          margin-right 20px
        }
      }
    }
    +do(750) {
      max-width 320px
      flex 0 0 320px
    }
    +do(650) {
      margin-right 20px
      max-width 230px
      flex 0 0 230px

    }
    &:nth-child(3n) {
      margin-right 0
      +do(650) {
        margin-right 20px
      }
    }
    &-photo {
      height 220px
      background-size cover
      background-repeat no-repeat
      background-position center
      position relative
      &:before {
        content ''
        position absolute
        top 0
        bottom 0
        left 0
        right 0
        background-position center
        background-size 50%
        background-repeat no-repeat
        background-image url('../images/main/zoom.png')
        opacity 0.4
        transition .3s
      }
      &:hover:before {
        background-size 60%
      }
    }
    &-video {
      height 220px
      position relative
      background-position center
      background-size cover
      background-repeat no-repeat
      &:before {
        content ''
        position absolute
        top 0
        bottom 0
        left 0
        right 0
        background-position center
        background-size 50%
        background-repeat no-repeat
        background-image url('../images/main/youtube.png')
        transition .3s
      }
      &:hover:before {
        background-size 60%
      }
    }
    &-desc {
      padding 10px
      span {

      }
    }
  }
  &__trial {
    margin-bottom 30px
  }
  &__text {
    margin-bottom 30px

  }
  &__promo {
    &_desktop {
      +do(650) {
        display none
      }
      img {
        max-width 670px
        width 100%
        +do(650) {
          margin 0 auto
        }
      }
    }
    &_mobile {
      display none
      +do(650) {
          margin-top 15px
          border-top 1px solid $color-gray14
          border-bottom  1px solid $color-gray14
          padding-top 15px
          padding-bottom  15px
          display block
          img {
            display block
            width 100%
            max-width 240px
            margin 0 auto
          }
      }
    }
  }
}

.sort-product-mobile {
  display none
  +do(650) {
    display block
  }
  position relative
  &__title {
    font $font-myriad
    font-size 18px
    font-weight 700
    margin-bottom 15px
    text-align left
    display flex
  }
  &__list {
    display flex
    flex-flow row nowrap
    overflow-x scroll
    margin 0 -30px
  }
  &__item {
    display block
    margin-right 30px
    flex 0 0 200px
    &-image {
      background-size cover
      background-repeat no-repeat
      background-position center
      height 200px
      display flex
      justify-content center
      align-items flex-end
    }
    &-label {
      padding 10px
      font-size 16px
      width 100%
      color $color-gray22
      background-color rgba($color-white, 0.8)
      font-weight 700
      &_circle {
        height 100px
        width 100px
        background-color rgba($color-white, 0.8)
        border-radius 50%
        display flex
        justify-content center
        align-items center
      }
    }
    &-desc {
      span {
        padding 0 5px
        background-color rgba($color-white, 0.8)
        font-size 16px
        color $color-black
      }
    }

  }
  &__desc {
    font-weight normal
    font $font-myriad
    border-bottom 1px solid $color-red
    margin-left 15px
    a {
      font-size 14px
      font-weight 400
      text-align left
      color $color-red
    }
  }
}