.text-content {
  p {
    margin-bottom 10px
  }
  a {
    color $color-red
    border-bottom 1px solid red
  }
  h5 {
    color $color-orange
    font-size 18px
  }
  b {
    font-weight 700
  }
  ul {
    list-style none
    li {
      &:before {
        display none
      }
    }
  }
  .youtube {
    &_product {
      max-width 700px
      overflow auto
      text-align center
      margin-bottom 30px
      iframe {
        margin 0 auto
        +do(650) {
          width 100%
          height 400px
        }
      }
    }
  }
  .table {
    &_product {
      max-width 700px
      overflow auto
      text-align center
    }
  }
}
