.vacancies {
  font-family $font-myriad
  &-item {
    padding 15px
    flex-flow row wrap
    border 1px solid $color-gray14
    margin-bottom 30px
    +do(650) {
      display block
      border none
      border-bottom 2px solid $color-gray14
      border-top 2px solid $color-gray14
      padding 15px 0
      margin 15px 0
    }
    &__main {
      order 1
      flex 1
    }
    &__aside {
      order 2
      flex 0 300px
    }
    &__title {
      margin-bottom 15px
      display flex
      flex-flow row wrap
      justify-content space-between
      font-size 22px
      font-weight bold
      &-name {
        a {
          color $color-red
        }
      }
      &-price {
        span {
          color $color-black
        }
      }
    }
    &__price {
      text-align right
      font-size 22px
      color $color-black
      font-weight 700
      line-height 1.2
      +do(650) {
        text-align left
        font-size 18px
      }
    }
    &__wrapper {
      position relative
      &:before {
        content ''
        position absolute
        left 0
        right 0
        bottom 0
        height 40px
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);

      }
    }
    &__link {
      margin-top 15px
      margin-bottom 15px
      a {
        display inline-block
        color $color-red

      }
    }
    &__button {

    }
  }
}