.video {
  &__title {
    margin-bottom 20px
  }
  &__list {
    &-section {
      display flex
      justify-content center
      align-items center
      margin-bottom 30px
    }
    &-item {
      flex 0 600px
      max-width 600px
    }
  }
  &-item {
    &__title {
      font-size 18px
      font-weight 700
      text-align center
      color $color-main
      margin-bottom 15px
      padding 0 15px
    }
    &__content {
      background-color white
      padding 10px
      border-radius 10px
      border 1px solid $color-gray14
      position relative
      min-height 350px
      iframe {
        position absolute
        width 100%
        height 100%
        top 0
        left 0
        right 0
        bottom 0
      }
    }
  }
}