.video-reviews {
  &__title {
    text-align center
    font-weight 700
    font-size 14px
    margin-bottom 15px
  }
  &__slider {
    &-item {
      display block
      text-decoration none
    }
    &-image {
      background-size cover
      height 150px
      position relative
      margin-bottom 15px
      &:before {
        content ''
        position absolute
        top 0
        bottom 0
        left 0
        right 0
        background-position center
        background-size 30%
        background-repeat no-repeat
        background-image url('../images/main/youtube.png')
        transition .3s
      }
      &:hover:before {
        background-size 40%
      }
    }
    &-desc {
      color $color-main
      font-size 14px
      span {

      }
    }

  }
  &__button {
    margin-top 15px
    margin-bottom 15px
    text-align center
  }
}