.footer {
  +do(650) {
    margin 0 -20px
  }
  &__wrapper {
    background-color $color-gray10
    color $color-gray11
    font-size 14px
    font-family $font-myriad
    box-sizing border-box
    padding-left 20px
    padding-right 20px
    border-top 3px solid $color-gray12
    background-position right
    background-size contain
    background-repeat no-repeat
    background-image url("../images/main/footer-bg.png")
    +do(750) {
      background-image none
    }
    a {
      color $color-gray11
      &:hover {
        color $color-white
      }
    }
  }
  &__info {
    display flex
    flex-flow row wrap
    +do(650) {
      display block
    }
  }
  &__title {
    margin-top 17px
    color $color-lgray
    padding-bottom 3px
    border-bottom 1px solid $color-lgray
    margin-bottom 15px
  }
  &__links {
    ul {
      li {
        display block
        padding-bottom 5px
        margin-bottom 5px
        position relative
        max-width 240px
        &:before {
          content ''
          height 5px
          position absolute
          left 0
          right 0
          bottom 0
          background-position left
          background-repeat no-repeat
          background-size contain
          background-image url('../images/main/footer-li-bg.png')
        }
        a {

        }
      }
    }
  }
  &__sitemap {
    margin-top 50px
    margin-left 75px
    display inline-block
    position relative
    padding-bottom 10px
    padding-left 15px
    padding-right 15px
    &:before {
      content ''
      height 5px
      position absolute
      left 0
      right 0
      bottom 0
      background-position left
      background-repeat no-repeat
      background-size cover
      background-image url('../images/main/footer-li-bg.png')
    }
  }
  &__col {
    &_sitemap {
      flex 0 240px
      +do(900) {
        display none
      }
    }
    &_link {
      flex 0 250px
      margin-right 50px
      +do(650) {
        margin-right 0
      }
    }
    &_share {
      flex 0 175px
    }
  }
  &__social {
    display flex
    flex-flow row wrap
    &-item {
      flex 0 auto
      margin-right 20px
      margin-bottom 20px
      position relative
      &:hover:before {
        content ''
        pointer-events none
        display block
        position absolute
        width 100%
        height 100%
        border-radius 5px
        background-color rgba($color-gray,0.5)
      }
      img {
        max-width 30px
      }
    }
  }
  &__bottom {
    margin 0 -20px
    border-top 1px solid $color-gray12
    background-color $color-gray13
    padding 5px 25px 5px 25px
    text-align center
    span {

    }
  }
}
